<div class = 'title container'>
	<div class = 'title'><%= issue.get('title') %></div>
</div>
<div class = 'thumbnail container'>
	<div class = 'thumbnail wrapper'>
		<img src = 'http://s3.amazonaws.com/fusegap/issues/<%= issue.get('image') %>.png' />
	</div>
</div>
<div class = 'rank'>
	<%= rank %>
</div>