<div class = 'thumbnail container'>
	<div class = 'thumbnail wrapper'>
		<img src = 'assets/issues/<%= issue.get('image') %>.png' />
	</div>
</div>
<div class = 'title container'>
	<div class = 'title'><%= issue.get('title') %></div>
</div>
<div class = 'facts container'>
	<div class = 'facts'># of facts: <span class="bluegreen"><%= num_questions %></span></div>
</div>
<div class = 'button learn'>
	<div id = 'learn' class = 'learn'>Info</div>
</div>
<div id = 'challenger' class = 'challenger'></div>
<div id = 'user' class = 'challengee'></div>
<div class = 'button play'>
	<div id = 'play' class = 'play'>Play!</div>
</div>
<div class = 'description container'>
	<div id = 'description' class = 'description'><%= issue.get('description') %></div>
</div>
