<div id = 'challenger' class = 'challenger'></div>
<div class = 'versus container'>
	<div class = 'versus'>vs.</div>
</div>
<div id = 'user' class = 'challengee'></div>
<div class = 'title container'>
	<div class = 'title'><%= issue.get('title') %></div>
</div>
<div class = 'thumbnail container'>
	<div class = 'thumbnail wrapper'>
		<img src = 'assets/issues/<%= issue.get('image') %>.png' />
	</div>
</div>