<div class = 'timer container'>
	<div id = 'timer' class = 'timer'></div>
</div>
<div id = 'answers' class = 'answers'></div>
<div id = 'after_submit' class = 'buttons hide'>
	<div id = 'source' class = 'button source'>Source</div>
	<div id = 'rage' class = 'rage'></div>
	<div id = 'next' class = 'button next'>Next</div>
</div>