<div class = 'timer container hide'>
	<div id = 'timer' class = 'timer'></div>
</div>
<div id = 'answers' class = 'answers'>
	<div id = 'start_timer'>
		<div class = "reveal_answers_button">
			Go!
		</div>
	</div>
</div>
<div id = 'after_submit' class = 'buttons hide'>
	<div id = 'source' class = 'button source'>Source</div>
	<div id = 'rage' class = 'rage'></div>
	<div id = 'next' class = 'button next'>Next</div>
</div>