<div class = 'title container'>
	<div class = 'title'><%= answer.get('title') %></div>
</div>
<div id = 'challenger' class = 'picture container hide'>
	<div class = 'picture wrapper'>
		<% if (users.challenger.get('signed_in_fb')) { %>
			<img src = 'https://graph.facebook.com/<%= users.challenger.get('uid') %>/picture' />
		<% } else { %>
			<img src = 'assets/misc/user.png' />
		<% } %>
	</div>
</div>