<div class = 'score container left'>
	<div id = 'challenger_score' class = 'score'></div>
</div>
<div id = 'challenger' class = 'picture container hide'>
	<div class = 'picture wrapper'>
		<% if (users.challenger.get('signed_in_fb')) { %>
			<img src = 'https://graph.facebook.com/<%= users.challenger.get('uid') %>/picture' />
		<% } else { %>
			<img src = 'assets/misc/user.png' />
		<% } %>
	</div>
</div>
<div class = 'title container'>
	<div class = 'title'><%= answer.get('title') %></div>
</div>
<div id = 'user' class = 'picture container hide'>
	<div class = 'picture wrapper'>
		<% if (users.user.get('signed_in_fb')) { %>
			<img src = 'https://graph.facebook.com/<%= users.user.get('uid') %>/picture' />
		<% } else { %>
			<img src = 'assets/misc/user.png' />
		<% } %>
	</div>
</div>
<div id = 'check' class = 'check container hide'>
	<div class = 'check'>&#x2713;</div>
</div>
<div class = 'score container right'>
	<div id = 'user_score' class = 'score'></div>
</div>