<div class = 'tooltip'>
	<div class = 'person'><%= achievable.get('person') %>:</div>
	<div class = 'title'>&ldquo;<%= achievable.get('title') %>&rdquo;</div>
	<div class = 'description container'>
		<div class = 'description'><%= achievable.get('description') %></div>
	</div>
</div>
<div class = 'image container'>
	<div class = 'image wrapper'>
		<img src = 'assets/achievables/<%= achievable.get('image') %>.png' />
	</div>
</div>

