<div class = 'text container'>
	<div class = 'text'>Achievements: Earned</div>
</div>
<div id = 'earned'></div>
<div class = 'text container'>
	<div class = 'text'>Achievements: Locked</div>
</div>
<div id = 'locked' class = 'locked'></div>