<div class = 'text container earned'>
	<div class = 'earned'>Achievements: Earned</div>
</div>
<div id = 'earned'></div>
<div class = 'text container locked'>
	<div class = 'text'>Achievements: Locked</div>
</div>
<div id = 'locked' class = 'locked'></div>