<div class = 'tooltip'>
	<div class = 'person'><%= achievable.get('person') %></div>
	<div class = 'description container'>
		<div class = 'description'>Locked</div>
	</div>
</div>
<div class = 'image container'>
	<div class = 'image wrapper'>
		<img src = 'http://s3.amazonaws.com/fusegap/achievables/<%= achievable.get('image') %>.png' />
	</div>
</div>
<div class = 'title container'>
	<div class = 'title'><%= achievable.get('title') %></div>
</div>
