<div><%= user.get('name') %></div>
<div>
	<% if (user.get('uid')) { %>
		<img src = 'https://graph.facebook.com/<%= user.get('uid') %>/picture'/>
	<% } else { %>
		<img src = 'http://s3.amazonaws.com/fusegap/misc/user.png'/>
	<% } %>
</div>