<div class = 'picture container'>	
	<div class = 'picture wrapper'>
		<img src="https://graph.facebook.com/<%= friend['id'] %>/picture" />
	</div>
</div>
<div class = 'name container'>
	<div class = 'name'><%= friend['name'] %></div>
</div>
<div id = 'rank' class = 'rank'></div>
<div class = "friend_challenge_button">Challenge!</div>