<div class = "create_account_text">
	or </br></br>
	Create an account:
</div>
<form id = 'new_user'>
	<div class = "create_account_container">
		<input type = 'text' id = 'user_name' value = 'user name' maxlength = '20' />
		<input type = 'text' id = 'password' value = 'password'  maxlength = '20' />
		<input type = 'text' id = 'confirm_password' value = 'repeat password'  maxlength = '20' />
	</div>
	<div class = "create_account_button">
		<input type = 'submit' value = 'Create Account!' />
	</div>
</form>
<div id = 'signin' class = 'signup-signin'>Sign In</div>