<div class = "create_account_text">
	or </br></br>
	Sign in:
</div>
<form id = 'user'>
	<div class = "create_account_container">
		<input type = 'text' id = 'user_name' value = 'user name' maxlength = '20' />
		<input type = 'text' id = 'password' value = 'password'  maxlength = '20' />
	</div>
	<div class = "create_account_button">
		<input type = 'submit' value = 'Signin' />
	</div>
</form>
<div id = 'signup'>or click <span>here</span> to sign up</div>