<div class = 'rank'><%= rank %>.</div>
<div class = 'name container'>
	<div class = 'name'>
		<%= name %>	
	</div>
</div>
<div class = 'picture container'>
	<div class = 'picture wrapper'>
		<% if (uid) { %>
			<img src = 'https://graph.facebook.com/<%= uid %>/picture'/>
		<% } else { %>
			<img src = 'assets/misc/user.png'/>
		<% } %>
	</div>
</div>
