<div class = 'picture container'>
	<div class = 'picture wrapper'>
		<% if (uid) { %>
			<img src = 'https://graph.facebook.com/<%= uid %>/picture'  width = '20px' height = '20px'/>
		<% } else { %>
			<img src = 'assets/misc/user.png' width = '20px' height = '20px' />
		<% } %>
	</div>
</div>
<div class = 'name container'>
	<div class = 'name'>
		<%= name %>	
	</div>
</div>
<div class = 'rank'><%= rank %></div>