<div><%= comment.get('title') %></div>
<div id = 'reply_button'>Reply</div>
<div id = 'reply' class ='hide'>
	<form id = 'comment_reply'>
		<input type = 'text' id = 'title' />
		<input type = 'submit' value = 'Post' />
	</form>
</div>
<div id = 'children'></div>