<div>You just unlocked the achievement:</div>
<div class = 'title container'>
	<div class = 'title'><%= achievable.get('title') %></div>
</div>
<div class = 'image container'>
	<div class = 'image wrapper'>
		<img src = 'assets/achievables/<%= achievable.get('image') %>.png' />
	</div>
</div>
<div>(click to dismiss)</div>