

<div class = "filler_text">Achievement Unlocked!</div>
<div class = 'title container'>
	<div class = 'title'><span><%= achievable.get('title') %></span> <%= achievable.get('description') %></div>

</div>
<div class = 'image container'>
	<div class = 'image wrapper'>
		<img src = 'assets/achievables/<%= achievable.get('image') %>.png' />
	</div>
</div>

<div class = "dismiss_text">(click to dismiss)</div>

