<div class = 'container'>
	<div id = 'popup' class = 'comment-signin-popup'>
		<div id = 'close' class="close">Close <div class = "icon">X</div></div>
		<div>
			This feature is only available to fusers who have signed in using facebook
		</div>
		<div class = "facebook_login_button_container">
			<div id = 'fb_login' class = "fb_login_main signin">
				<div class = "facebook_f">f</div>
				<div class = "connect_with_facebook">
					Connect with Facebook
				</div>
			</div>	
		</div>
	</div>
</div>