<div class = 'like-tab'>LIKE TAB</div>
<div id = 'close' class = 'hide'>CLOSE</div>
<div id = 'dont_show' class = 'hide'>DON'T SHOW</div>
<div class = 'like-button'>
	<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2FfuseGap&amp;send=false&amp;layout=standard&amp;width=390&amp;show_faces=true&amp;font&amp;colorscheme=light&amp;action=like&amp;height=80&amp;appId=336449143129017" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
</div>