<div class = "icon_container">
	<img src = 'assets/logos/white_40.png' width = "100%" />
</div>
<div class = 'like-tab' style="display: none">LIKE TAB</div>
<div class = "internal_container">
	<div id = 'close' class="close">
		<div class = "icon">X</div>
	</div>
	<div class = "title"><span>Welcome!</span> Like us on Facebook?</div>
	<div id = 'dont_show' class = 'hide'>
		<div class = "left">Don't show again</div>
	</div>
	<div id="close" class = "bottom_close">Close<div class = "bot_icon">X</div></div>
	<div class = 'like-button'>
		<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2FfuseGap&amp;send=false&amp;layout=standard&amp;width=390&amp;show_faces=true&amp;font&amp;colorscheme=light&amp;action=like&amp;height=80&amp;appId=336449143129017" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:400px; height:80px;" allowTransparency="true"></iframe>
	</div>
</div>