<div class = 'container'>
	<div class = 'feedback-popup'>
		<div id = 'close' class="close">
			Close 
			<div class = "icon">X</div>
		</div>
		<div class = "title_text">Bugs? Suggestions? Feedback?
			 <div class = "sub">We'd love to hear from you!</div>
		</div>
		<div id = 'form' class = "feedback_form">
			<form id = 'feedback'>
				<textarea id = 'content'/>
				<input type = 'submit' value = 'Submit' class="post_feedback_button"/>
			</form>
		</div>
		<div id = 'thanks' class = 'hide'>Thanks for the feedback!</div>
	</div>
</div>