<![if !IE]>
<div class = "tab">
	<div class = "text">
		F<span>eedba</span>ck
	</div>
<div>
<![endif]>	
	
<!--[if IE]>
	<div class = "tab-IE">
		<img src = 'assets/logos/white_40.png' width = "100%" />
	</div>
<![endif]-->