.achievables {
	float: left;
	overflow: auto;
	width: 100%;
	margin: 5px 0 5px 0;
	.text {
		
		&.container {
			margin-top: 15px;
			text-align: center;
			font-weight: bold;
			color: darken($bluegreen, 10%);
			@include text-shadow(0px 1px 0 rgba(#000, 0.1));
			font-size: 14px;	
			&.earned {

			}

			&.locked {

			}
		}
	}
	
	.earned {
		width: 96%;
		margin: 0 0 5px 2%;
		background: rgba(#000, 0.03);
		overflow: auto;
		@include border-radius(12px);
	}
	
	.locked {
		width: 96%;
		margin: 0 0 5px 2%;
		background: rgba(#000, 0.03);
		overflow: auto;
		@include border-radius(12px);
	}

	.achievable {
		float: left;
		height: 100px;
		width: 120px;
		border: 1px solid rgba($bluegreen, 0.35);
		background: rgba($bluegreen, 0.05);
		@include border-radius(15px);
		@include single-box-shadow(rgba(#000, 0.1), 1px, 1px, 1px, 0);
		margin: 4px 0 4px 9px;
		position: relative;
		.image {
			
			&.container {
				position: absolute;
				top: 4px;
				left: 30px;
				overflow: hidden;
				@include single-box-shadow(rgba(#000, 0.35), 1px, 1px, 1px, 0);
				width: 60px;
				height: 60px;
				@include border-radius(9px);
				@include single-box-shadow(rgba($bluegreen, 0.6), 0px, 0px, 4px, 2px);
			}
			
			&.wrapper {
				overflow: hidden;
				position: static;
				height: 100%;
				width: 100%;
				@include border-radius(9px);
				img {
					height: 100%;
					width: 100%;
				}
			}
		}
		
		.title {
			
			&.container {
				position: absolute;
				top: 70px;
				left: 4%;
				width: 92%;
				font-size: 12px;
				font-weight: bold;
				color: rgba(#000,0.6);
				text-align: center;
				@include text-shadow(0px 1px 0 rgba(#000, 0.16));
			}
		}
		
		.description {
			display: none;
			&.container {
				
			}
		}
	}
}