.achievables {
	
	.text {
		
		&.container {
			text-align: center;
			font-weight: bold;
			color: rgba(#000, 0.5);
			font-size: 14px;	
			&.earned {

			}

			&.locked {

			}
		}
	}
	
	.earned {
		
	}
	
	.locked {
	}

	.achievable {
		
		.image {
			
			&.container {
				
			}
			
			&.wrapper {
				
			}
		}
		
		.title {
			
			&.container {
				
			}
		}
		
		.description {
			
			&.container {
				
			}
		}
	}
}

.popup {
	.achievable {
		position: absolute;
		top: 0;
		left: 0;
	}
}