.multiple-choice {
	.answers {
		margin-top: 11px;
		.answer {
			float: left;
			width: 90%;
			margin: 0 0 0 5%;
			height: 46px;
			position: relative;
			.title {
				text-align: center;
				font-size: 12px;
				width: 95%;
				left: 10px;
				color: #333333;
				@include text-shadow(0px 1px 0 rgba(#000,0.2));
				&.container {
					position: absolute;
					height: 37px;
					width: 76%;
					left: 12%;
					top: -3px;
					
					cursor: pointer;
					font-weight: bold;
					@include border-radius(12px);					
					border: none;
					padding-top: 2px;					
					@include linear-gradient(lighten($orange,18%), lighten($orange,1%));					
					@include single-box-shadow(rgba(#000, 0.3), 0px, 1px, 1px, 0);
					&:hover {
						@include linear-gradient(lighten($orange,1%), lighten($orange,18%));
					}					
					
					.picture {
						&#user {
							right: 5px;
						}
						&#challenger {
							left: 5px;
						}
						
						&.container {
							position: absolute;
							height: 25px;
							width: 25px;
							top: 7px;
							@include border-radius(4px);
							@include single-box-shadow(rgba(#000, 0.3), 1px, 1px, 1px, 0);
						}

						&.wrapper {
							@include border-radius(4px);
							overflow: hidden;
							position: static;
							height: 100%;
							width: 100%;
							img {
								height: 100%;
								width: 100%;
							}
						}
					}
				}	
			}		
			.score {
				position: absolute;
				&.container {
					font-size: 20px;
					bottom: 32px;
					width: 50px;
					color: $orange;
				}
				&.left {
					left: 15px;
					text-align: right;
				}
				&.right {
					right: -22px;
					text-align: left;
				}
			}
			.check {
				font-size: 22px;
				color: rgb(98,230,0);
				&.container {
					position: absolute;
					right: 27px;
					bottom: 8px;
				}
			}
		}
	}
	
	.buttons {
		
		.button {
			
			&.source {
				
			}
			
			&.next {
				
			}
		}
		
		.rage {
			
		}
	}
	#start_timer {
		.reveal_answers_button {
			height: 26px;
			text-align: center;
			font-size: 16px;
			width: 30%;
			margin-left: 35%;
			color: #333333;
			@include text-shadow(0px 1px 0 rgba(#000,0.2));
			cursor: pointer;
			font-weight: bold;
			@include border-radius(16px);					
			border: none;
			padding-top: 11px;					
			@include linear-gradient(lighten($orange,18%), lighten($orange,1%));					
			@include single-box-shadow(rgba(#000, 0.3), 0px, 1px, 1px, 0);
			&:hover {
				@include linear-gradient(lighten($orange,1%), lighten($orange,18%));
			}
		}
	}
}

.timer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 10px;
	@include border-radius(6px);
	@include linear-gradient(lighten($bluegreen, 6%), darken($bluegreen, 6%));
	
	&.container {
		position: relative;
		width: 50%;
		@include border-radius(6px);
		@include linear-gradient(rgba(#000,0.05), rgba(#000,0.17));
		@include single-box-shadow(rgba(#000, 0.13), 0px, 1px, 1px, 0);
		margin: 0 auto;
	}
}