.challenge {
position: relative;
	&.dark {
		.issue {
			&.container {
				border-top: 1px solid rgb(245,245,245);
				border-bottom: 1px solid rgb(245,245,245);
				background-image: url(misc/253.png); background-repeat: repeat;
				@include border-radius(3px);
			}
		}
	}
	&.dark-alt {
		.issue {
			&.container {
				border-top: 1px solid rgb(245,245,245);
				border-bottom: 1px solid rgb(245,245,245);
				background-image: url(misc/253.png); background-repeat: repeat;
				@include border-radius(3px);
			}
		}
	}

	.container {
		
		&.issue {
			
		}
		
		&.challenger {
			position: absolute;
			right: 80px;
			top: 38px;
			width: 180px;
			height: 30px;
		}
		
		&.user {
			position: absolute;
			right: 80px;
			top: 10px;		
			width: 180px;
			height: 30px;
		}
	}
	
	.button {
		position: absolute;
			
		@include fonts;
		border: none;
		text-align: center;
		font-weight: bold;

		&.learn {
			cursor: pointer;	
			top: 22px;
			left: 260px;
			font-size: 11px;
			height: 15px;
			padding-top: 3px;
			width: 35px;
			color: $bluegreen;
			&:hover {
				text-decoration: underline;
			}
		}
		
		&.play {
			color: #fff;		
			cursor: pointer;	
			top: 25px;
			right: 15px;
			font-size: 13px;
			@include border-radius(3px);	
			height: 18px;
			padding-top: 2px;
			width: 10%;
			border: 1px solid darken($bluegreen, 2%);
			border-bottom: 1px solid darken($bluegreen, 10%);
			@include linear-gradient(lighten($bluegreen,6%), darken($bluegreen,6%));
			/*@include single-box-shadow(rgba(#000, 0.25), 0px, 1px, 1px, 0);*/
			&:hover {
				background: darken($bluegreen, 6%);
			}
		}
		&.waiting {
			color: $black;
			top: 22px;
			right: 5px;
			font-size: 12px;
			height: 22px;
			padding-top: 9px;
			width: 13%;
			@include text-shadow(0px 1px 0 rgba(#fff,0.4));
		}
	}
	
	.challenger {
		&.container {
			.user {
				.name {
					
				}
			}
		}
	}
}

#history {
	float: left;
	width: 86%;
	margin: 4px 0 0 7%;
	padding-top: 1px;
	@include border-radius(12px);
	background-image: url(misc/253.png); background-repeat: repeat;
	
	.challenge.history {
		position: relative;
		width: 90%;
		height: 40px;
		margin: 5px 0 0 5%;
		.winning {
			position: absolute;
			left: 3px;
			width: 160px;
			height: 40px;
			.picture {
			
				&.container {
					overflow: hidden;
					@include single-box-shadow(rgba(#000, 0.35), 1px, 1px, 1px, 0);
					position: absolute;
					left: 2px;
					top: 2px;
					width: 35px;
					height: 35px;
					margin-left: 2px;
					@include border-radius(3px);
				
				}
			
				&.wrapper {
					overflow: hidden;
					position: static;
					height: 100%;
					width: 100%;
					@include border-radius(3px);
					img {
						height: 100%;
						width: 100%;
					}
				}
			}
		
			.name {
			
				&.container {
					font-weight: bold;
					position: absolute;
					left: 45px;
					top: 7px;
					height: 11px;
					font-size: 12px;
					color: $black;
				}
			}
		
			.rank {
			
			}
		}
	
		.losing {
			position: absolute;
			right: 3px;
			top: 0px;
			width: 160px;
			height: 40px;
			.picture {
			
				&.container {
					overflow: hidden;
					@include single-box-shadow(rgba(#000, 0.35), 1px, 1px, 1px, 0);
					position: absolute;
					right: 3px;
					top: 2px;
					width: 35px;
					height: 35px;
					margin-left: 2px;
					@include border-radius(3px);
				
				}
			
				&.wrapper {
					overflow: hidden;
					position: static;
					height: 100%;
					width: 100%;
					@include border-radius(3px);
					img {
						height: 100%;
						width: 100%;
					}
				}
			}
		
			.name {
			
				&.container {
					font-weight: bold;
					position: absolute;
					right: 45px;
					top: 7px;
					height: 11px;
					font-size: 12px;
					color: $black;
				}
			}
		
			.rank {
			
			}
		}
	
		.win-loss {
			width: 20%;
			margin-left: 40%;
			position: relative;
			text-align: center;
			.number {
				position: absolute;
				width: 25px;
				font-size: 16px;
				font-weight: bold;
				color: $bluegreen;
				top: 1px;
				&.winner {
					left: 7px;
					text-align: right;
				}
				&.loser {
					right: 7px;
					text-align: left;
				}
			}
		
			.colon {
				font-weight: bold;
				font-size: 12px;
				color: $black;
			}
		}
	}

}

.new_game_button_container {
	width: 100%;
	float: left;
	button {
		cursor: pointer;
		@include border-radius(3px);
		border: 1px solid darken($bluegreen, 2%);
		border-bottom: 1px solid darken($bluegreen, 10%);
		@include linear-gradient(lighten($bluegreen,6%), darken($bluegreen,6%));
		@include fonts;
		float: left;
		height: 28px;
		padding-top: 5px;
		width: 16%;
		margin: 10px 0 0 42%;

		color: #fff;
		font-size: 12px;
		text-align: center;

		@include single-box-shadow(rgba(#000, 0.35), 0px, 1px, 1px, 0);
		font-weight: bold;
		&:hover {
			background: darken($bluegreen, 6%);
		}
	}
}

.challenges_subheader {
	text-align: left;
	font-weight: bold;
	color: $black;
	font-size: 14px;
	margin: 6px 0 6px 12px;
	padding-bottom: 1px;
	/*border-bottom: 1px solid rgb(240,240,240);*/
	&.their_turn {
		margin-top: 60px;
	}
	&.your_friends {
		margin-top: 14px;
	}
	.active_fusers {
		font-style: italic;
		font-weight: normal;
	}
	&.questions {
		text-align: center;
		margin-left: -15px;
		margin-bottom: 0px;
	}
	&.video {
		text-align: center;
		width: 90%;
		margin-left: 18px;
		font-size: 16px;
	}
	&.profile {
		width: 200px;
		margin-bottom: 0px;
		display: none;
	}
	&.about {
		text-align: center;
	}
}

.home_challenges_container {
	overflow-x: hidden;
	height: 100%;
	width: 558px;
}
