.challenge {
	position: relative;
	.container {
		
		&.issue {
			
		}
		
		&.challenger {
			
		}
		
		&.user {
			
		}
	}
	
	.button {
		position: absolute;
		cursor: pointer;		
		@include fonts;
		color: #444444;	
		border: none;
		text-align: center;
		font-weight: bold;

		&.learn {
			top: 18px;
			left: 194px;
			font-size: 11px;
			@include border-radius(16px);	
			height: 15px;
			padding-top: 3px;
			width: 35px;
			@include linear-gradient(lighten(#000,95%), lighten(#000,77%));
			@include text-shadow(0px 1px 0 rgba(#fff,0.4));
			@include single-box-shadow(rgba(#000, 0.35), 0px, 1px, 1px, 0);
			&:hover {
				@include linear-gradient(lighten(#000,70%), lighten(#000,95%));
			}
		}
		
		&.play {			
			top: 10px;
			right: 30px;
			font-size: 12px;
			@include border-radius(16px);	
			height: 22px;
			padding-top: 7px;
			width: 15%;
			@include linear-gradient(lighten($orange,18%), lighten($orange,1%));
			@include text-shadow(0px 1px 0 rgba(#000,0.2));
			@include single-box-shadow(rgba(#000, 0.3), 0px, 1px, 1px, 0);
			&:hover {
				@include linear-gradient(lighten($orange,1%), lighten($orange,18%));
			}
		}
		&.waiting {
			top: 10px;
			right: 30px;
			font-size: 12px;
			@include border-radius(16px);	
			height: 22px;
			padding-top: 7px;
			width: 15%;
			@include linear-gradient(lighten(#000,95%), lighten(#000,77%));
			@include text-shadow(0px 1px 0 rgba(#fff,0.4));
			@include single-box-shadow(rgba(#000, 0.35), 0px, 1px, 1px, 0);
			&:hover {
				@include linear-gradient(lighten(#000,70%), lighten(#000,95%));
			}
		}
	}
}

.challenge.history {
	position: relative;
	width: 80%;
	height: 40px;
	margin: 5px 0 0 10%;
	.winning {
		position: absolute;
		left: 3px;
		width: 160px;
		height: 40px;
		.picture {
			
			&.container {
				overflow: hidden;
				@include single-box-shadow(rgba(#000, 0.35), 1px, 1px, 1px, 0);
				position: absolute;
				left: 2px;
				top: 2px;
				width: 35px;
				height: 35px;
				margin-left: 2px;
				@include border-radius(7px);
				
			}
			
			&.wrapper {
				overflow: hidden;
				position: static;
				height: 100%;
				width: 100%;
				@include border-radius(7px);
				img {
					height: 100%;
					width: 100%;
				}
			}
		}
		
		.name {
			
			&.container {
				font-weight: bold;
				position: absolute;
				left: 45px;
				top: 7px;
				height: 11px;
				font-size: 12px;
				color: rgb(92,92,92);
				@include text-shadow(0px 1px 0 rgba(#000, 0.15));
			}
		}
		
		.rank {
			
		}
	}
	
	.losing {
		position: absolute;
		right: 3px;
		top: 0px;
		width: 160px;
		height: 40px;
		.picture {
			
			&.container {
				overflow: hidden;
				@include single-box-shadow(rgba(#000, 0.35), 1px, 1px, 1px, 0);
				position: absolute;
				right: 3px;
				top: 2px;
				width: 30px;
				height: 30px;
				margin-left: 2px;
				@include border-radius(7px);
				
			}
			
			&.wrapper {
				overflow: hidden;
				position: static;
				height: 100%;
				width: 100%;
				@include border-radius(7px);
				img {
					height: 100%;
					width: 100%;
				}
			}
		}
		
		.name {
			
			&.container {
				font-weight: bold;
				position: absolute;
				right: 45px;
				top: 7px;
				height: 11px;
				font-size: 12px;
				color: rgb(92,92,92);
				@include text-shadow(0px 1px 0 rgba(#000, 0.15));
			}
		}
		
		.rank {
			
		}
	}
	
	.win-loss {
		width: 20%;
		margin-left: 40%;
		position: relative;
		text-align: center;
		.number {
			position: absolute;
			@include text-shadow(0px 1px 0 rgba(#000, 0.2));
			width: 25px;
			font-size: 16px;
			font-weight: bold;
			color: darken($orange,2%);
			top: 1px;
			&.winner {
				left: 7px;
				text-align: right;
			}
			&.loser {
				right: 7px;
				text-align: left;
			}
		}
		
		.colon {
			font-weight: bold;
			font-size: 12px;
			color: rgba(#000,0.5);
		}
	}
}

.new_game_button_container {
	width: 100%;
	float: left;
	button {
		cursor: pointer;
		@include border-radius(16px);
		@include linear-gradient(lighten($orange,18%), lighten($orange,1%));
		@include fonts;
		float: left;
		height: 31px;
		padding-top: 6px;
		width: 20%;
		margin: 10px 0 0 40%;

		color: #444444;
		font-size: 12px;
		border: none;
		text-align: center;

		@include single-box-shadow(rgba(#000, 0.35), 0px, 1px, 1px, 0);
		@include text-shadow(0px 1px 0 rgba(#000,0.15));	
		font-weight: bold;
		&:hover {
			@include linear-gradient(lighten($orange,1%), lighten($orange,18%));
		}
	}
}