.challenge {
position: relative;
	&.dark {
		.issue {
			&.container {
				background: rgba(#000,0.04);
				@include border-radius(10px);
			}
		}
	}
	&.dark-alt {
		.issue {
			&.container {
				background: rgba(#000,0.03);
				@include border-radius(10px);
			}
		}
	}

	.container {
		
		&.issue {
			
		}
		
		&.challenger {
			position: absolute;
			right: 90px;
			top: 38px;
			width: 180px;
			height: 30px;
		}
		
		&.user {
			position: absolute;
			right: 90px;
			top: 10px;		
			width: 180px;
			height: 30px;
		}
	}
	
	.button {
		position: absolute;
			
		@include fonts;
		color: #444444;	
		border: none;
		text-align: center;
		font-weight: bold;

		&.learn {
			cursor: pointer;	
			top: 22px;
			left: 220px;
			font-size: 11px;
			@include border-radius(2px);	
			height: 15px;
			padding-top: 3px;
			width: 35px;
			@include linear-gradient(lighten(#000,95%), lighten(#000,77%));
			@include text-shadow(0px 1px 0 rgba(#fff,0.4));
			@include single-box-shadow(rgba(#000, 0.25), 0px, 1px, 1px, 0);
			&:hover {
				@include linear-gradient(lighten(#000,70%), lighten(#000,95%));
			}
		}
		
		&.play {
			color: #fff;		
			cursor: pointer;	
			top: 22px;
			right: 20px;
			font-size: 13px;
			@include border-radius(3px);	
			height: 20px;
			padding-top: 3px;
			width: 13%;
			border: 1px solid darken($bluegreen, 2%);
			border-bottom: 1px solid darken($bluegreen, 10%);
			@include linear-gradient(lighten($bluegreen,6%), darken($bluegreen,6%));
			/*@include single-box-shadow(rgba(#000, 0.25), 0px, 1px, 1px, 0);*/
			&:hover {
				background: darken($bluegreen, 6%);
			}
		}
		&.waiting {
			top: 22px;
			right: 20px;
			font-size: 12px;
			@include border-radius(16px);	
			height: 22px;
			padding-top: 9px;
			width: 13%;
			@include linear-gradient(lighten(#000,95%), lighten(#000,77%));
			@include text-shadow(0px 1px 0 rgba(#fff,0.4));
			@include single-box-shadow(rgba(#000, 0.25), 0px, 1px, 1px, 0);
		}
	}
	
	.challenger {
		&.container {
			.user {
				.name {
					
				}
			}
		}
	}
}

#history {
	float: left;
	width: 86%;
	margin: 4px 0 0 7%;
	padding-top: 1px;
	@include border-radius(12px);
	background: rgba(#000, 0.03);
	
	.challenge.history {
		position: relative;
		width: 90%;
		height: 40px;
		margin: 5px 0 0 5%;
		.winning {
			position: absolute;
			left: 3px;
			width: 160px;
			height: 40px;
			.picture {
			
				&.container {
					overflow: hidden;
					@include single-box-shadow(rgba(#000, 0.35), 1px, 1px, 1px, 0);
					position: absolute;
					left: 2px;
					top: 2px;
					width: 35px;
					height: 35px;
					margin-left: 2px;
					@include border-radius(7px);
				
				}
			
				&.wrapper {
					overflow: hidden;
					position: static;
					height: 100%;
					width: 100%;
					@include border-radius(7px);
					img {
						height: 100%;
						width: 100%;
					}
				}
			}
		
			.name {
			
				&.container {
					font-weight: bold;
					position: absolute;
					left: 45px;
					top: 7px;
					height: 11px;
					font-size: 12px;
					color: rgb(92,92,92);
					@include text-shadow(0px 1px 0 rgba(#000, 0.15));
				}
			}
		
			.rank {
			
			}
		}
	
		.losing {
			position: absolute;
			right: 3px;
			top: 0px;
			width: 160px;
			height: 40px;
			.picture {
			
				&.container {
					overflow: hidden;
					@include single-box-shadow(rgba(#000, 0.35), 1px, 1px, 1px, 0);
					position: absolute;
					right: 3px;
					top: 2px;
					width: 35px;
					height: 35px;
					margin-left: 2px;
					@include border-radius(7px);
				
				}
			
				&.wrapper {
					overflow: hidden;
					position: static;
					height: 100%;
					width: 100%;
					@include border-radius(7px);
					img {
						height: 100%;
						width: 100%;
					}
				}
			}
		
			.name {
			
				&.container {
					font-weight: bold;
					position: absolute;
					right: 45px;
					top: 7px;
					height: 11px;
					font-size: 12px;
					color: rgb(92,92,92);
					@include text-shadow(0px 1px 0 rgba(#000, 0.15));
				}
			}
		
			.rank {
			
			}
		}
	
		.win-loss {
			width: 20%;
			margin-left: 40%;
			position: relative;
			text-align: center;
			.number {
				position: absolute;
				@include text-shadow(0px 1px 0 rgba(#000, 0.2));
				width: 25px;
				font-size: 16px;
				font-weight: bold;
				color: darken($orange,2%);
				top: 1px;
				&.winner {
					left: 7px;
					text-align: right;
				}
				&.loser {
					right: 7px;
					text-align: left;
				}
			}
		
			.colon {
				font-weight: bold;
				font-size: 12px;
				color: rgba(#000,0.5);
			}
		}
	}

}

.new_game_button_container {
	width: 100%;
	float: left;
	button {
		cursor: pointer;
		@include border-radius(3px);
		border: 1px solid darken($bluegreen, 2%);
		border-bottom: 1px solid darken($bluegreen, 10%);
		@include linear-gradient(lighten($bluegreen,6%), darken($bluegreen,6%));
		@include fonts;
		float: left;
		height: 30px;
		padding-top: 5px;
		width: 16%;
		margin: 10px 0 0 42%;

		color: #fff;
		font-size: 12px;
		border: none;
		text-align: center;

		@include single-box-shadow(rgba(#000, 0.35), 0px, 1px, 1px, 0);
		font-weight: bold;
		&:hover {
			background: darken($bluegreen, 6%);
		}
	}
}

.challenges_subheader {
	text-align: left;
	font-weight: bold;
	color: rgba(#000, 0.5);
	font-size: 13px;
	margin: 12px 0 4px 12px;
	@include text-shadow(0px 1px 0 rgba(#000,0.15));
	&.their_turn {
		margin-top: 60px;
	}
}

.home_challenges_container {
	overflow-y:scroll;
	overflow-x: hidden;
	height: 600px;
}
