.create_account_container {
	margin: 5px 0 0 7px;	
	input {

		@include border-radius(8px);
		color: $bluegreen;

		font-size: 10px;
		height: 20px;
		width: 100px;
		text-align: center;
		border: none;
		box-shadow: 1px 1px 1px rgba($bluegreen, 0.8) inset;
		&:focus {
			box-shadow: 1px 1px 1px rgba($bluegreen, 0.95) inset;
			outline-width: 0;
		}
	}
}
.create_account_button {
	input {
		@include fonts;
		float: left;
		height: 32px;
		width: 34%;
		margin: 10px 0 0 33%;
		text-align: center;
		cursor: pointer;
		font-weight: bold;
		@include border-radius(20px);					
		border: none;
		color: #ffffff;

		padding-top: 3px;
		font-size: 11px;
		@include linear-gradient(lighten($bluegreen,6%), darken($bluegreen,6%));
		@include text-shadow(0px 1px 0 rgba(#000,0.2));
		@include single-box-shadow(rgba(#000, 0.3), 0px, 1px, 1px, 0);
		&:hover {
			background: darken($bluegreen, 6%);
		}
	}
}

.like-button {
	float: left;
	height: 80px;
	width: 320px;
	margin: 40px 0 0 4px;
	&.sidebar {
		margin: 0 0 0 0;
	}
}

#fb_login {

}

.fb_login_main {
	&.friend_select {
		width: 38%;
		margin-left: 31%;
	}
}

.home_images_container {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 40px 0 0 0;
	background-image: url(misc/253.png); background-repeat: repeat;
	border-top: 1px solid rgba(#000, 0.15);
	.grey_cover {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 1;
		background: rgba(#000, 0.0);
	}
	.home_logo_container {
		position: absolute;
		top: 74px;
		right: 155px;
		width: 38px;
		height: 38px;
		z-index: 11;
	}
	.fusegap_enlightenment_text {
		position: absolute;
		width: 335px;
		right: 25px;
		top: 67px;
		color: $black;
		z-index: 13;
		text-align: center;
		.fusegap {
			width: 100%;
			font-size: 42px;
			font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
			letter-spacing: 1px;	
			font-weight: bold;	
			span {
				padding-left: 30px;
			}
		}
		.enlightenment {
			width: 335px;
			margin-top: 6px;
			padding-top: 1px;
			font-style: italic;
			font-size: 14px;
			line-height: 20px;
			border-top: 1px solid rgba(#000, 0.05);
		}
	}
	.home_slide_div {
		position: absolute;
		width: 520px;	
		@include single-box-shadow(rgba(#000, 0.4), 0px, 0px, 8px, 5px);
		@include border-radius(4px);
		&.first {
			top: 25px;
			left: 25px;
			height: 232px;
		}
		&.second {
			height: 361px;
			top: 213px;
			right: 25px;
		}
		&.third {
			height: 232px;
			top: 500px;
			left: 25px;
		}
		.wrapper {
			overflow: hidden;
			position: static;
			height: 100%;
			width: 100%;
			@include border-radius(4px);
			img {
				height: 100%;
				width: 100%;
			}
		}		
	}
	.signin_container {
		position: absolute;
		left: 25px;
		top: 295px;
		height: 520px;
		width: 335px;
		/*border-bottom: 1px solid rgba(#000, 0.06);*/
		
	}
}

.dumb_source {
	position: absolute;
	a {
		display: block;
		height: 100%;
		width: 100%;
	}
	&:hover {
		cursor: pointer;
	}
	&.home {
		&.one {
			height: 20px;
			width: 200px;
			top: 77px;
			right: 30px;
		}
		&.two {
			height: 20px;
			width: 160px;
			top: 200px;
			right: 80px;
		}
	}
	&.mfc {
		&.one {
			height: 10px;
			width: 120px;
			top: 50px;
			right: 20px;
		}
		&.two {
			height: 10px;
			width: 100px;
			top: 120px;
			right: 50px;
		}
	}
}

.get_started_button {
	position: relative;
	margin: 10px 0 0 65px;
	cursor: pointer;
	color: #fff;
	height: 47px;
	border: 1px solid darken($bluegreen, 17%);
	font-size: 17px;
	font-weight: bold;
	width: 200px;
	box-shadow: 0px 1px 1px lighten($bluegreen, 22%) inset;	
	@include linear-gradient(lighten($bluegreen, 6%), darken($bluegreen, 9%));
	@include single-box-shadow(rgb(249,249,249), 0px, 1px, 0px, 1px);
	@include text-shadow(0px 1px 2px rgba(#000, 0.4));
	@include border-radius(4px);
	z-index: 13;
	.left {
		position: absolute;
		left: 0px;
		height: 47px;
		width: 36px;
		border-right: 1px solid rgba(#fff, 0.06);
		.logo {
			position: absolute;
			top: 14px;
			left: 9px;
			height: 20px;
			width: 20px;
		}
	}
	.right {
		position: absolute;
		right: 0;
		padding-top: 12px;
		width: 162px;
		text-align: center;
		height: 31px;
		font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
		border-left: 1px solid rgba(#000, 0.08);
	}
	&:hover {
		@include linear-gradient(lighten($bluegreen, 12%), darken($bluegreen, 11%));
		cursor: pointer;
		@include text-shadow(0px 1px 2px rgba(#000, 0.1));
	}
}


.infographic {
	position: absolute;
	top: 182px;
	left: 25px;
	height: 361px;
	width: 520px;
	z-index: 100;
	background-image: url(misc/253.png); background-repeat: repeat;
	color: $black;
	font-family: "HelveticaNeue-UltraLight", Helvetica, Arial, sans-serif;
	@include text-shadow(1px 1px 0 #fff);	
	overflow: hidden;
	border: 1px solid rgb(222,222,222);
	
	.title_text {
		position: absolute;
		font-size: 28px;
		text-align: center;
		width: 100%;
		background-image: url(misc/gray_jean.png); background-repeat: repeat;
		&.title {
			height: 50px;
			font-family: Helvetica;
			border-bottom: 1px solid rgb(222,222,222);
			.text {
				margin-top: 10px;
				span {
					color: $bluegreen;
					font-style: normal;
				}
			}
			.filler_border {
				position: absolute;
				bottom: 0px;
				width: 100%;
				border-bottom: 1px solid rgba(#fff, 0.7);
			}
		}
		&.factual_future {
			font-style: italic;
			bottom: 0px;
			font-size: 20px;
			height: 35px;
			border-top: 1px solid rgb(222,222,222);
			.text {
				margin-top: 5px;
				span {
					color: $bluegreen;
					font-weight: bold;
				}
			}
			.filler_border {
				position: absolute;
				top: 0px;
				width: 100%;
				border-top: 1px solid rgba(#fff, 0.7);
			}
		}
	}
	
	.stat_text {
		position: absolute;
		font-size: 16px;
		width: 100%;
		text-align: center;
		font-family: Helvetica;
		@include text-shadow(1px 1px 0 #fff);	
		span {
			color: $bluegreen;
			font-style: italic;
			text-decoration: underline;
			&:hover {
				cursor: pointer;
			}
		}
		&.top {
			top: 80px;
		}
		&.bottom {
			top: 200px;
		}
	}
	
	.infographic_guy_container {
		position: absolute;
		height: 60px;
		width: 300px;
		left: 105px;
		&.top {
			top: 105px;
		}
		&.bottom {
			top: 225px;
			.guy_container {
				&.first {
					left: 30px;
				}
				&.second {
					left: 90px;
				}
				&.third {
					left: 150px;
				}
			}
		}
		.number {
			position: absolute;
			right: 0px;
			bottom: 0px;
			color: $bluegreen;
			font-size: 42px;
			letter-spacing: 1px;
		}
	}
	
	.guy_container {
		position: absolute;
		height: 33px;
		width: 33px;
		&.first {
			left: 10px;
		}
		&.second {
			left: 50px;
		}
		&.third {
			left: 90px;
		}
		&.fourth {
			left: 130px;
		}
		&.fifth {
			left: 170px;
		}
	}
}










.dur{}