.create_account_container {
	margin: 5px 0 0 7px;	
	input {

		@include border-radius(8px);
		color: $bluegreen;

		font-size: 10px;
		height: 20px;
		width: 100px;
		text-align: center;
		border: none;
		box-shadow: 1px 1px 1px rgba($bluegreen, 0.8) inset;
		&:focus {
			box-shadow: 1px 1px 1px rgba($bluegreen, 0.95) inset;
			outline-width: 0;
		}
	}
}
.create_account_button {
	input {
		@include fonts;
		float: left;
		height: 32px;
		width: 34%;
		margin: 10px 0 0 33%;
		text-align: center;
		cursor: pointer;
		font-weight: bold;
		@include border-radius(20px);					
		border: none;
		color: #ffffff;

		padding-top: 3px;
		font-size: 11px;
		@include linear-gradient(lighten($bluegreen,6%), darken($bluegreen,6%));
		@include text-shadow(0px 1px 0 rgba(#000,0.2));
		@include single-box-shadow(rgba(#000, 0.3), 0px, 1px, 1px, 0);
		&:hover {
			background: darken($bluegreen, 6%);
		}
	}
}

.like-button {
	float: left;
	height: 80px;
	width: 320px;
	margin: 22px 0 0 0;
	&.sidebar {
		margin: 0 0 0 0;
	}
}

#fb_login {

}

.fb_login_main {
	&.signin {
		width: 66%;
		margin-left: 17%;
	}
	&.friend_select {
		width: 38%;
		margin-left: 31%;
	}
	position: relative;
	color: #fff;
	height: 43px;
	border: 1px solid rgb(24,48,84);
	border-bottom: 1px solid rgb(6,44,80);	
	font-size: 14px;
	line-height: 18px;
	@include linear-gradient(rgb(76,119,175), rgb(27,70,135));
	box-shadow: 0px 1px 1px rgb(128,163,216) inset;	
	@include text-shadow(0px 1px 0 rgba(#000,0.4));
	@include border-radius(5px);
	z-index: 13;
	.facebook_f {
		font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
		font-size: 28px;
		margin-top: 1px;
		padding-top: 12px;
		float: left;
		width: 37px;
		text-align: center;
		height: 30px;
		border-right: 1px solid rgba(#fff, 0.06);
	}
	.connect_with_facebook {
		float: left;
		margin-top: 1px;
		padding-top: 11px;
		padding-left: 13px;
		width: 152px;
		text-align: left;
		height: 31px;
		font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
		border-left: 1px solid rgba(#000, 0.08);
	}
	&:hover {
		border: 1px solid rgb(6,44,80);
		cursor: pointer;
		background: rgb(50,90,150);
	}
}

.home_images_container {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 40px 0 0 0;
	background-image: url(misc/253.png); background-repeat: repeat;
	border-top: 1px solid rgba(#000, 0.15);
	.grey_cover {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 1;
		background: rgba(#000, 0.0);
	}
	.home_logo_container {
		position: absolute;
		top: 64px;
		left: 192px;
		width: 38px;
		height: 38px;
		z-index: 11;
	}
	.fusegap_enlightenment_text {
		position: absolute;
		width: 335px;
		left: 25px;
		top: 57px;
		color: $black;
		z-index: 13;
		text-align: center;
		.fusegap {
			width: 100%;
			font-size: 42px;
			font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
			letter-spacing: 1px;	
			font-weight: bold;	
			span {
				padding-left: 30px;
			}
		}
		.enlightenment {
			width: 335px;
			margin-top: 8px;
			padding-top: 1px;
			font-style: italic;
			font-size: 14px;
			line-height: 20px;
			border-top: 1px solid rgba(#000, 0.05);
		}
	}
	.home_slide_div {
		position: absolute;
		width: 520px;	
		@include single-box-shadow(rgba(#000, 0.4), 0px, 0px, 8px, 5px);
		@include border-radius(4px);
		&.first {
			top: 25px;
			right: 25px;
			height: 232px;
		}
		&.second {
			height: 361px;
			top: 172px;
			left: 25px;
		}
		.wrapper {
			overflow: hidden;
			position: static;
			height: 100%;
			width: 100%;
			@include border-radius(4px);
			img {
				height: 100%;
				width: 100%;
			}
		}		
	}
	.signin_container {
		position: absolute;
		right: 25px;
		top: 265px;
		min-height: 220px;
		width: 335px;
		border-bottom: 1px solid rgba(#000, 0.06);
		
	}
}

.get_started_button {
	position: relative;
	margin-top: 10px;
	cursor: pointer;
	color: #fff;
	height: 43px;
	border: 1px solid darken($bluegreen, 20%);
	font-size: 16px;
	width: 200px;
	@include linear-gradient(lighten($bluegreen, 6%), darken($bluegreen, 9%));
	box-shadow: 0px 1px 1px lighten($bluegreen, 22%) inset;	

	@include border-radius(5px);
	z-index: 13;
	.left {
		position: absolute;
		left: 0px;
		height: 43px;
		width: 36px;
		border-right: 1px solid rgba(#fff, 0.06);
		.logo {
			position: absolute;
			top: 12px;
			left: 9px;
			height: 20px;
			width: 20px;
		}
	}
	.right {
		position: absolute;
		right: 0;
		padding-top: 11px;
		width: 162px;
		text-align: center;
		height: 31px;
		font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
		border-left: 1px solid rgba(#000, 0.08);
	}
	&:hover {
		border: 1px solid darken($bluegreen, 30%);
		background: darken($bluegreen, 6%);
	}
}


.infographic {
	position: absolute;
	top: 192px;
	left: 25px;
	height: 361px;
	width: 520px;
	z-index: 100;
	background-image: url(misc/gray_jean.png); background-repeat: repeat;
	color: $black;
	font-family: "HelveticaNeue-UltraLight", Helvetica, Arial, sans-serif;
	@include text-shadow(1px 1px 0 #fff);	
	@include border-radius(5px);
	
	.title_text {
		position: absolute;
		font-size: 28px;
		text-align: center;
		width: 100%;
		&.title {
			top: 10px;
			font-family: Helvetica;
			span {
				color: $bluegreen;
				font-style: normal;
			}
		}
		&.factual_future {
			font-style: italic;
			bottom: 10px;
			font-size: 20px;
			span {
				color: $bluegreen;
				font-style: normal;
				font-weight: bold;
			}
		}
	}
	
	.stat_text {
		position: absolute;
		font-size: 16px;
		width: 100%;
		text-align: center;
		font-family: Helvetica;
		@include text-shadow(1px 1px 0 #fff);	
		span {
			color: $bluegreen;
			font-style: italic;
			text-decoration: underline;
			&:hover {
				cursor: pointer;
			}
		}
		&.top {
			top: 80px;
		}
		&.bottom {
			top: 190px;
		}
	}
	
	.infographic_guy_container {
		position: absolute;
		height: 60px;
		width: 300px;
		left: 105px;
		&.top {
			top: 100px;
		}
		&.bottom {
			top: 210px;
			.guy_container {
				&.first {
					left: 30px;
				}
				&.second {
					left: 90px;
				}
				&.third {
					left: 150px;
				}
			}
		}
		.number {
			position: absolute;
			right: 0px;
			bottom: 0px;
			color: $bluegreen;
			font-size: 42px;
			letter-spacing: 1px;
		}
	}
	
	.guy_container {
		position: absolute;
		height: 33px;
		width: 33px;
		&.first {
			left: 10px;
		}
		&.second {
			left: 50px;
		}
		&.third {
			left: 90px;
		}
		&.fourth {
			left: 130px;
		}
		&.fifth {
			left: 170px;
		}
	}
	
	.dumb_source {
		position: absolute;
		height: 50px;
		width: 50px;
		border: 1px solid;
		a {
			display: block;
			height: 100%;
			width: 100%;
		}
		&.one {

		}
	}
}










.dur{}