.issue {
	width: 98%;
	margin-left: 2%;
	padding: 2px 0 3px 0;
	overflow: auto;
	position: relative;
	min-height: 70px;
	&.dark {
		border-top: 1px solid rgb(245,245,245);
		border-bottom: 1px solid rgb(245,245,245);
		background-image: url(misc/253.png); background-repeat: repeat;
		@include border-radius(3px);
	}
	
	.thumbnail {	
		&.container {
			overflow: hidden;
			@include single-box-shadow(rgba(#000, 0.35), 1px, 1px, 1px, 0);
			float: left;
			margin: 12px 0 0 5px;
			width: 42px;
			height: 42px;
			@include border-radius(3px);
		}
		
		&.wrapper {
			overflow: hidden;
			position: static;
			height: 100%;
			width: 100%;
			@include border-radius(3px);
			img {
				height: 100%;
				width: 100%;
			}
		}
	}
	
	.title {
		position: absolute;
		&.container {
			top: 22px;
			left: 53px;
			height: 15px;
			width: 150px;					
			font-weight: bold;
			color: $black;
			font-size: 12px;	
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;	
		}
	}
	
	.facts {
		position: absolute;
		&.container {
			top: 36px;
			left: 53px;
			font-size: 10px;
			width: 135px;
			color: $black;
			font-style: italic;
			.bluegreen {
				font-weight: bold;
			}
		}
	}
	
	.description {
		
		&.container {
			height: 38px;
			border-top: 1px solid rgb(233,233,233);
			font-size: 11px;
			color: rgba(#000, 0.7);
			line-height: 14px;
			width: 90%;
			padding: 4px;
			margin: 12px 0 4px 5%;
			float: left;
			overflow: hidden;
		}
	}
	
	.challenger {
		position: absolute;
		right: 80px;
		top: 38px;
		width: 180px;
		height: 30px;
		overflow: hidden;
	}
	
	.challengee {
		position: absolute;
		right: 80px;
		top: 10px;		
		width: 180px;
		height: 30px;
		overflow: hidden;
	}
}

.issue.challenge {
	position: relative;
	margin-left: 0;
	width: 99%;
	border: none;
	min-height: 65px;
	.thumbnail {
	
		&.container {
			overflow: hidden;
			@include single-box-shadow(rgba(#000, 0.35), 1px, 1px, 1px, 0);
			float: left;
			margin: 10px 0 0 5px;
			width: 46px;
			height: 46px;

		}
		
		&.wrapper {
			overflow: hidden;
			position: static;
			height: 100%;
			width: 100%;

			img {
				height: 100%;
				width: 100%;
			}
		}
	}
	
	.title {
		position: absolute;
		&.container {
			top: 22px;
			left: 58px;
			height: 15px;
			width: 150px;					
			font-weight: bold;
			color: $black;
			font-size: 12px;	
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;	
		}
	}
	
	.facts {
		position: absolute;
		&.container {
			top: 36px;
			left: 58px;
			font-size: 10px;
			width: 135px;
			color: $black;
			font-style: italic;
			.bluegreen {
				font-weight: bold;
			}
		}
	}
	
	.description {
		
		&.container {
			height: 38px;
			border-top: 1px solid rgb(233,233,233);
			font-size: 11px;
			color: rgba(#000, 0.7);
			line-height: 14px;
			width: 90%;
			padding: 4px;
			margin: 10px 0 4px 5%;
			float: left;
			overflow: hidden;
		}
	}
}

.popular {
	.issue {
		position: relative;
		overflow: hidden;
		min-height: 30px;
		border: none;
		.thumbnail {
				
			&.container {
				overflow: hidden;
				@include single-box-shadow(rgba(#000, 0.35), 1px, 1px, 1px, 0);
				float: left;
				margin: 4px 0 0 4px;
				width: 25px;
				height: 25px;
				@include border-radius(5px);
			}

			&.wrapper {
				overflow: hidden;
				position: static;
				height: 100%;
				width: 100%;
				@include border-radius(5px);
				img {
					height: 100%;
					width: 100%;
				}
			}
		}

		.title {

			&.container {
				position: absolute;
				top: 12px;
				left: 37px;
				width: 193px;
				font-size: 11px;
				color: rgb(112,112,112);
				@include text-shadow(0px 1px 0 rgba(#000,0.1));
			}
		}
		
		.rank {
			position: absolute;
			top: 10px;
			right: 16px;
			text-align: center;
			width: 30px;
			color: $bluegreen;
			font-size: 15px;
			font-weight: bold;
			@include text-shadow(0px 1px 0 rgba(#000,0.2));
		}
	}
}

.issue.versus {
	height: 80px;
	width: 90.5%;
	margin-left: 3.5%;
	.thumbnail {
		display: none;
		&.container {
			
		}
		
		&.wrapper {
			
		}
	}
	
	.title {
		display: none;
		&.container {
			position: absolute;
			bottom: 0;
			color: #ffffff;
			border-bottom: none;						
			@include border-top-radius(9px);
			text-align: center;
			padding: 2px 0 1px 0;
			@include linear-gradient(lighten($bluegreen,6%), darken($bluegreen,6%));
		}
	}
	
	.challenger {
		width: 175px;
		position: absolute;
		top: 12px;
		left: 40px;
		background-image: url(misc/253.png); background-repeat: repeat;
		@include border-radius(5px);
		height: 50px;
		border: 1px solid rgb(225,225,225);
		@include single-box-shadow(rgba(#000, 0.05), 1px, 1px, 1px, 0);
		.picture {
			&.container {
				top: 5px;
				left: 5px;
			}
		}
		.name {
			&.container {
				left: 55px;
			}
		}
		.rank {
			left: 55px;
		}
		.score {
			&.container {
				position: absolute;
				bottom: 6px;
				right: 4px;
				text-align: right;
			}
		}
	}
	
	.challengee {
		width: 175px;
		position: absolute;
		top: 12px;
		right: 40px;
		background-image: url(misc/253.png); background-repeat: repeat;
		@include border-radius(5px);
		height: 50px;
		border: 1px solid rgb(225,225,225);
		@include single-box-shadow(rgba(#000, 0.05), -1px, 1px, 1px, 0);
		.picture {
			&.container {
				top: 5px;
				right: 2px;
			}
		}
		.name {
			&.container {
				right: 50px;
			}
		}
		.rank {
			right: 50px;
		}
		.score {
			&.container {
				position: absolute;
				bottom: 6px;
				left: 8px;
				text-align: left;
			}
		}
	}
}

.versus {
	&.container {
		margin-top: 30px;
		text-align: center;
		font-size: 12px;
		font-weight: bold;
		color: $black;
		@include text-shadow(0px 1px 0 rgba(#000,0.2));
	}
}

.popular_issues_header {
	margin-top: 63px;
	overflow: auto;
	padding: 4px;
	border-bottom: 1px solid rgb(236,236,236);
	font-size: 12px;
	font-weight: bold;
	color: rgba(#000, 0.4);
	@include text-shadow(0px 1px 0 rgba(#000,0.2));
	.most_popular_issues_text {
		float: left;
		margin-left: 16px;
		.issues_span {
			color: rgba(#000, 0.5);
		}
	}
	.your_rank_text {
		float: right;
		margin-right: 15px;
	}
}

.topleft_issues {
	position: relative;
}

.issue_index_container {
	width: 558px;
	.button {
		position: absolute;
		cursor: pointer;		
		@include fonts;
		border: none;
		text-align: center;
		font-weight: bold;
		
		
		&.learn {
			cursor: pointer;	
			top: 22px;
			left: 250px;
			font-size: 11px;
			height: 15px;
			padding-top: 3px;
			width: 35px;
			color: $bluegreen;
			&:hover {
				text-decoration: underline;
			}
		}
		
		&.play {			
			color: #fff;		
			cursor: pointer;	
			top: 25px;
			right: 15px;
			font-size: 13px;
			@include border-radius(3px);	
			height: 18px;
			padding-top: 2px;
			width: 10%;
			border: 1px solid darken($bluegreen, 2%);
			border-bottom: 1px solid darken($bluegreen, 10%);
			@include linear-gradient(lighten($bluegreen,6%), darken($bluegreen,6%));
			/*@include single-box-shadow(rgba(#000, 0.25), 0px, 1px, 1px, 0);*/
			&:hover {
				background: darken($bluegreen, 6%);
			}
		}
	}
}

.issue_profile_container {
	position: absolute;
	width: 100%;
	top: 14px;
	.top_container {
		position: relative;
		width: 100%;
		height: 150px;
		.thumbnail {		
			&.container {
				overflow: hidden;
				position: absolute;
				top: 12px;
				left: 12px;
				width: 130px;
				height: 130px;
				@include border-radius(4px);
				@include single-box-shadow(rgba(#000, 0.3), 1px, 1px, 1px, 0);
			}		
			&.wrapper {
				overflow: hidden;
				position: static;
				height: 100%;
				width: 100%;
				@include border-radius(4px);
				img {
					height: 100%;
					width: 100%;
				}
			}
		}
		.title {
			&.container {		
				position: absolute;
				top: 10px;
				left: 168px;
				font-size: 22px;
				color: $black;
				width: 375px;
				font-weight: bold;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
		}
		.profile_icon_container {
			position: absolute;
			left: -10px;
			top: -1px;
			@include linear-gradient(lighten($bluegreen, 5%), darken($bluegreen, 1%));
			@include border-radius(20px);
			height: 34px;
			width: 34px;
			img {
				position: absolute;
				width: 68%;
				top: 6px;
				left: 5px;
			}
			.character {
				position: absolute;
				color: $black;
				&.hand {
					top: 2px;
					left: 9px;
					font-size: 26px;
				}
				&.pencil {
					top: 5px;
					left: 7px;
					font-size: 22px;
				}
				&.shuffle {
					top: 1px;
					left: 6px;
					font-size: 22px;
				}
			}
		}
		
		.stats {
			position: absolute;
			border: 1px solid rgb(235,235,235);
			border-left: none;
			height: 32px;
			padding-left: 25px;
			width: 140px;
			background-image: url(misc/253.png); background-repeat: repeat;
			@include border-radius(3px);
			&.total_facts {
				top: 50px;
				left: 177px;
			}
			&.active_fusers {
				top: 92px;
				left: 177px;
			}
			&.facts_learned {
				top: 50px;
				left: 380px;
			}
			&.facts_shared {
				top: 92px;
				left: 380px;
			}
			.number {
				position: absolute;
				top: 6px;
				left: 32px;
				font-size: 17px;
				float: left;
				text-align: left;
				color: $bluegreen;
				font-weight: bold;
			}
			.label {
				position: absolute;
				top: 9px;
				right: 5px;
				text-align: right;	
				font-size: 10px;
				color: rgba($black, 0.99);
			}
		}
	}
	.full_description_container {
		position: relative;
		margin: 13px 0 0 2%;
		padding: 8px;
		font-size: 13px;
		line-height: 17px;
		color: $black;
		span {
			font-weight: bold;
		}
	}
	.goto_challenges_button_container {
		position: relative;
		margin: 12px 0 0 10px;
		width: 536px;
		height: 68px;
		color: $black;
		border-top: 1px solid rgb(235,235,235);
		border-bottom: 1px solid rgb(235,235,235);
		background-image: url(misc/253.png); background-repeat: repeat;
		.text {
			position: absolute;
			top: 26px;
			font-size: 14px;
			font-weight: bold;
			width: 150px;
			&.left {
				left: 31px;
				text-align: right;
			}
			&.right {
				left: 358px;
				text-align: left;
			}
		}
		.goto_challenges_button {
			position: absolute;
			top: 13px;
			left: 208px;
			cursor: pointer;
			color: #fff;
			height: 30px;
			border: 1px solid darken($bluegreen, 17%);
			font-size: 15px;
			font-weight: bold;
			width: 120px;
			box-shadow: 0px 1px 1px lighten($bluegreen, 22%) inset;	
			@include linear-gradient(lighten($bluegreen, 6%), darken($bluegreen, 9%));
			@include single-box-shadow(rgb(249,249,249), 0px, 1px, 0px, 1px);
			@include text-shadow(0px 1px 2px rgba(#000, 0.4));
			@include border-radius(4px);
			z-index: 13;
			padding-top: 10px;
			text-align: center;
			font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
			&:hover {
				@include linear-gradient(lighten($bluegreen, 12%), darken($bluegreen, 11%));
				@include text-shadow(0px 1px 2px rgba(#000, 0.1));
			}
		}
	}
	.comment_container {
		position: relative;
		margin: 20px 0 0 10px;
		width: 536px;
		height: 300px;
		color: $black;
		.thumbnail {	
			&.container {
				overflow: hidden;
				@include single-box-shadow(rgba(#000, 0.35), 1px, 1px, 1px, 0);
				float: left;
				margin: 0 0 0 0px;
				width: 42px;
				height: 42px;
				@include border-radius(3px);
			}

			&.wrapper {
				overflow: hidden;
				position: static;
				height: 100%;
				width: 100%;
				@include border-radius(3px);
				img {
					width: 100%;
				}
			}
		}
		.comment_container_header {
			position: relative;
			width: 100%;
			text-align: center;
			font-size: 13px;
			font-weight: bold;
		}
		.add_comment_subheader {
			position: relative;
			margin-top: 3px;
			width: 536px;
			border-top: 1px solid rgb(235,235,235);
			border-bottom: 1px solid rgb(225,225,225);
			height: 28px;
			.text {
				position: absolute;
				font-size: 12px;
				font-weight: bold;
				&.left {
					top: 7px;
					left: 5px;
				}
				&.right {
					top: 8px;
					right: 5px;
					color: $bluegreen;
					text-decoration: underline;
					cursor: pointer;
					font-size: 11px;
				}
			}
			.triangle {
				position: absolute;
				left: 82px;
				top: 11px;
			  width: 0;
			  height: 0;
			  border-left: 5px solid transparent;
			  border-right: 5px solid transparent;
			  border-top: 8px solid $bluegreen;
			}
		}
		.comment {
			position: relative;
			margin: 12px 0 0 0;
			width: 536px;
			border-bottom: 1px solid rgb(225,225,225);
			padding-bottom: 2px;
			background-image: url(misc/253.png); background-repeat: repeat;
			form {
				width: 470px;
				margin: 3px 0 0 54px;
				position: relative;
			}
			textarea {
				position: relative;
				width: 100%;
				font-size: 11px;
				height: 45px;
				border: 1px solid rgb(212,212,212);
				@include border-radius(3px);
				box-shadow: 0px 1px 1px rgb(240,240,240) inset;
				&:focus {
					box-shadow: 0px 1px 1px rgb(226,226,226) inset;
					border: 1px solid rgb(180,180,180);
					outline-width: 0;
				}
			}
			.post_comment_button {
				position: relative;
				width: 80px;
				margin: 4px 0 10px 396px;
				border: 1px solid rgb(208,208,208);
				border-bottom: 1px solid rgb(184,184,184);
				height: 22px;
				font-size: 12px;
				color: $black;
				text-align: center;
				font-weight: bold;
				@include text-shadow(0 1px 0 rgba(#fff,0.9));
				@include linear-gradient(rgb(255,255,255), rgb(230,230,230));
				@include border-radius(5px);
				&:hover {
					cursor: pointer;
					background: rgb(230,230,230);
					border: 1px solid rgb(184,184,184);
				}
			}
			.name_stats_container {
				position: relative;
				margin: 0 0 0 54px;
				height: 15px;
				width: 475px;
				padding-bottom: 2px;
				font-size: 12px;
				.user_name {
					position: absolute;
					left: 0px;		
					font-weight: bold;
					color: $bluegreen;
					width: 160px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					&:hover {
						cursor: pointer;
						text-decoration: underline;
					}					
				}
				.rank {
					position: absolute;					
					font-size: 10px;
					text-align: right;
					color: rgb(128,128,128);
					span {
						color: $bluegreen;
						font-size: 12px;
						font-weight: bold;
					}
					&.global_rank {
						width: 122px;
						right: 117px;
						border-right: 1px solid rgb(215,215,215);
						padding-right: 14px;
					}
					&.facts_learned {
						width: 115px;
						right: 0px;
						border-left: 1px solid rgb(215,215,215);
					}
				}
			}
			.text {
				position: relative;
				margin: 6px 0 0 54px;
				width: 475px;
				font-size: 12px;
				line-height: 16px;
			}
			#reply_button {
				position: relative;
				text-align: right;
				font-size: 12px;
				color: $bluegreen;
				padding-right: 6px;
				cursor: pointer;
			}
		}
	}
}

.shuffle_issues_button {
	position: relative;
	cursor: pointer;
	margin: 0 auto;
	margin-top: 12px;
	width: 22%;
	height: 30px;
	font-size: 13px;
	@include border-radius(3px);
	background: $bluegreen;
	border: 1px solid darken($bluegreen, 2%);
	border-bottom: 1px solid darken($bluegreen, 10%);
	@include linear-gradient(lighten($bluegreen,6%), darken($bluegreen,6%));
	@include single-box-shadow(rgba(#000, 0.3), 0px, 1px, 1px, 0);
	&:hover {
		background: darken($bluegreen, 6%);
	}
	.text {
		text-align: center;
		color: #fff;
		font-size: 13px;
		padding: 8px 0 0 12px;
		font-weight: bold;
	}
	.sub {
		position: absolute;
		left: 7px;
		top: 5px;
		height: 20px;
		width: 18px;
		padding: 0px 0 1px 3px;
		color: $bluegreen;
		font-size: 15px;
		background: rgba(#000, 0.6);
		@include border-radius(12px);
	}
}

.show-all {
	display: none;
	position: relative;
	cursor: pointer;
	margin: 0 auto;
	margin-top: 12px;
	width: 25%;
	height: 35px;
	font-size: 13px;
	@include border-radius(16px);
	background: $bluegreen;
	@include linear-gradient(lighten($bluegreen,6%), darken($bluegreen,6%));
	@include single-box-shadow(rgba(#000, 0.3), 0px, 1px, 1px, 0);
	&:hover {
		background: darken($bluegreen, 6%);
	}
	.text {
		text-align: center;
		color: rgba(#000, 0.75);
		font-size: 14px;
		line-height: 35px;
		padding: 0;
		font-weight: bold;
		@include text-shadow(0px 1px 0 rgba(#fff, 0.25));
	}
}

.issue-list {
	margin: 40px 0 40px 0;
	overflow: hidden;
}

.issue-panel {
	width: 250px;
	height: 250px;
	position: relative;
	margin: 20px 0 25px 45px;
	cursor: pointer;
	z-index: 0;
	cursor: default;
	background: #fff;
	@include border-top-radius(7px);
	position: relative;
	overflow: hidden;
	float: left;
	
	.title {
		color: #fff;
		position: relative;
		text-align: left;
		font-size: 16px;
		line-height: 18px;
		width: 96%;
		height: 18px;
		margin: 11px 0 0 4%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		
		&.container {
			background: $black;
			position: absolute;
			margin: 0;
			top: 0;
			left: 0;
			width: 100%;
			height: 40px;
			@include border-top-radius(7px);
			border-bottom: 1px solid $black;
		}
	}

	.thumbnail {
		width: 250px;
		height: 210px;
		position: absolute;
		top: 41px;
		left: 0px;
		overflow: hidden;		
		@include border-bottom-radius(9px);
		
		.wrapper {
			position: static;
			width: 100%;
			height: 100%;			
			img {
				@include border-bottom-radius(9px);	
			}
		}
	}
	
	.hover-container {
		cursor: pointer;
		color: #fff;
		position: absolute;
		top: 40px;
		left: 0;
		width: 100%;
		height: 210px;
		background: rgba(#fff, 0.85);
		z-index: 1;
		font-size: 14px;
		line-height: 18px;
		@include opacity(0);
		@include border-bottom-radius(7px);
		
		@include single-transition(opacity, 1s, false, 0s);
	
		&:hover {
			@include opacity(1);
		}	
		.description {
			position: absolute; 
			top: 5%; 
			left: 5%; 
			width: 90%; 
			height: 161px; 
			overflow: hidden;
			
		}
		.showmore {
			position: absolute;
			top: 182px;
			text-align: center;
			left: 0px;
			width: 100%;
			color: $bluegreen;
			font-size: 12px;
			font-weight: bold;
		}
	}
}
