.issue {
	width: 96%;
	margin-left: 2%;
	padding: 2px 0 3px 0;
	overflow: auto;
	position: relative;
	min-height: 170px;
	&.dark {
		background: rgba($bluegreen, 0.17);
		@include border-radius(10px);
	}
	
	.thumbnail {
	
		&.container {
			overflow: hidden;
			@include single-box-shadow(rgba(#000, 0.35), 1px, 1px, 1px, 0);
			float: left;
			margin: 12px 0 0 5px;
			width: 42px;
			height: 42px;
			@include border-radius(8px);
		}
		
		&.wrapper {
			overflow: hidden;
			position: static;
			height: 100%;
			width: 100%;
			@include border-radius(8px);
			img {
				height: 100%;
				width: 100%;
			}
		}
	}
	
	.title {
		position: absolute;
		&.container {
			top: 22px;
			left: 53px;
			height: 15px;
			width: 135px;					
			font-weight: bold;
			color: rgb(112,112,112);
			font-size: 11px;	
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;	
			@include text-shadow(0px 1px 0 rgba(#000, 0.15));
		}
	}
	
	.facts {
		position: absolute;
		&.container {
			top: 36px;
			left: 53px;
			font-weight: bold;
			font-size: 10px;
			width: 135px;
			color: rgb(152,152,152);
			.bluegreen {
				color: $bluegreen;
				@include text-shadow(0px 1px 0 rgba(#000, 0.1));	
			}
		}
	}
	
	.description {
		
		&.container {
			height: 38px;
			border-top: 1px solid rgba($bluegreen, 0.25);
			font-size: 11px;
			color: rgba(#000, 0.7);
			line-height: 14px;
			width: 90%;
			padding: 4px;
			margin: 12px 0 4px 5%;
			float: left;
			overflow: hidden;
		}
	}
	
	.challenger {
		position: absolute;
		right: 80px;
		top: 38px;
		width: 180px;
		height: 30px;
		overflow: hidden;
	}
	
	.challengee {
		position: absolute;
		right: 80px;
		top: 10px;		
		width: 180px;
		height: 30px;
		overflow: hidden;
	}
}

.issue.challenge {
	position: relative;
	margin-left: 0;
	width: 99%;
	border: none;
	min-height: 65px;
	.thumbnail {
	
		&.container {
			overflow: hidden;
			@include single-box-shadow(rgba(#000, 0.35), 1px, 1px, 1px, 0);
			float: left;
			margin: 12px 0 0 5px;
			width: 42px;
			height: 42px;
			@include border-radius(8px);
		}
		
		&.wrapper {
			overflow: hidden;
			position: static;
			height: 100%;
			width: 100%;
			@include border-radius(8px);
			img {
				height: 100%;
				width: 100%;
			}
		}
	}
	
	.title {
		position: absolute;
		&.container {
			top: 22px;
			left: 53px;
			height: 15px;
			width: 135px;					
			font-weight: bold;
			color: rgb(112,112,112);
			font-size: 11px;	
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;	
			@include text-shadow(0px 1px 0 rgba(#000, 0.15));
		}
	}
	
	.facts {
		position: absolute;
		&.container {
			top: 36px;
			left: 53px;
			font-weight: bold;
			font-size: 10px;
			width: 135px;
			color: rgb(152,152,152);
			.bluegreen {
				color: $bluegreen;
				@include text-shadow(0px 1px 0 rgba(#000, 0.1));	
			}
		}
	}
	
	.description {
		
		&.container {
			height: 38px;
			border-top: 1px solid rgba($bluegreen, 0.25);
			font-size: 11px;
			color: rgba(#000, 0.7);
			line-height: 14px;
			width: 90%;
			padding: 4px;
			margin: 10px 0 4px 5%;
			float: left;
			overflow: hidden;
		}
	}
}

.popular {
	.issue {
		position: relative;
		overflow: hidden;
		min-height: 30px;
		border: none;
		.thumbnail {
				
			&.container {
				overflow: hidden;
				@include single-box-shadow(rgba(#000, 0.35), 1px, 1px, 1px, 0);
				float: left;
				margin: 4px 0 0 4px;
				width: 25px;
				height: 25px;
				@include border-radius(5px);
			}

			&.wrapper {
				overflow: hidden;
				position: static;
				height: 100%;
				width: 100%;
				@include border-radius(5px);
				img {
					height: 100%;
					width: 100%;
				}
			}
		}

		.title {

			&.container {
				position: absolute;
				top: 12px;
				left: 37px;
				width: 193px;
				font-size: 11px;
				color: rgb(112,112,112);
				@include text-shadow(0px 1px 0 rgba(#000,0.1));
			}
		}
		
		.rank {
			position: absolute;
			top: 10px;
			right: 16px;
			text-align: center;
			width: 30px;
			color: darken($bluegreen, 10%);
			font-size: 15px;
			font-weight: bold;
			@include text-shadow(0px 1px 0 rgba(#000,0.2));
		}
	}
}

.issue.versus {
	height: 80px;
	width: 90%;
	margin-left: 5%;
	.thumbnail {
		display: none;
		&.container {
			
		}
		
		&.wrapper {
			
		}
	}
	
	.title {
		display: none;
		&.container {
			position: absolute;
			bottom: 0;
			color: #ffffff;
			border-bottom: none;						
			@include border-top-radius(9px);
			text-align: center;
			padding: 2px 0 1px 0;
			@include linear-gradient(lighten($bluegreen,8%), darken($bluegreen,12%));
		}
	}
	
	.challenger {
		width: 175px;
		position: absolute;
		top: 12px;
		left: 35px;
		@include horizontal-gradient(rgba($orange, 0.3), rgba($orange, 0.1));
		@include border-radius(10px);
		height: 50px;
		border: 1px solid lighten($orange,25%);
		@include single-box-shadow(rgba($orange, 0.45), 1px, 1px, 1px, 0);
		.picture {
			&.container {
				top: 5px;
				left: 5px;
			}
		}
		.name {
			&.container {
				left: 55px;
			}
		}
		.rank {
			left: 55px;
		}
		.score {
			&.container {
				position: absolute;
				bottom: 6px;
				right: 4px;
				text-align: right;
			}
		}
	}
	
	.challengee {
		width: 175px;
		position: absolute;
		top: 12px;
		right: 35px;
		@include horizontal-gradient(rgba($orange, 0.1), rgba($orange, 0.3));
		@include border-radius(10px);
		height: 50px;
		border: 1px solid lighten($orange,25%);
		@include single-box-shadow(rgba($orange, 0.45), -1px, 1px, 1px, 0);
		.picture {
			&.container {
				top: 5px;
				right: 2px;
			}
		}
		.name {
			&.container {
				right: 50px;
			}
		}
		.rank {
			right: 50px;
		}
		.score {
			&.container {
				position: absolute;
				bottom: 6px;
				left: 8px;
				text-align: left;
			}
		}
	}
}

.versus {
	&.container {
		margin-top: 30px;
		text-align: center;
		font-size: 12px;
		font-weight: bold;
		color: rgba(#000, 0.7);
		@include text-shadow(0px 1px 0 rgba(#000,0.2));
	}
}

.popular_issues_header {
	margin-top: 63px;
	overflow: auto;
	padding: 4px;
	border-bottom: 1px solid rgba(#000,0.15);
	font-size: 12px;
	font-weight: bold;
	color: rgba(#000, 0.4);
	@include text-shadow(0px 1px 0 rgba(#000,0.2));
	.most_popular_issues_text {
		float: left;
		margin-left: 16px;
		.issues_span {
			color: rgba(#000, 0.5);
		}
	}
	.your_rank_text {
		float: right;
		margin-right: 15px;
	}
}

.topleft_issues {
	position: relative;
}

.issue_index_container {
	.button {
		position: absolute;
		cursor: pointer;		
		@include fonts;
		color: #444444;	
		border: none;
		text-align: center;
		font-weight: bold;
		
		
		&.learn {
			cursor: pointer;	
			top: 22px;
			left: 220px;
			font-size: 11px;
			@include border-radius(16px);	
			height: 15px;
			padding-top: 3px;
			width: 35px;
			@include linear-gradient(lighten(#000,95%), lighten(#000,77%));
			@include text-shadow(0px 1px 0 rgba(#fff,0.4));
			@include single-box-shadow(rgba(#000, 0.25), 0px, 1px, 1px, 0);
			&:hover {
				@include linear-gradient(lighten(#000,70%), lighten(#000,95%));
			}
		}
		
		&.play {			
			cursor: pointer;	
			top: 22px;
			right: 10px;
			font-size: 12px;
			@include border-radius(16px);	
			height: 22px;
			padding-top: 9px;
			width: 13%;
			@include linear-gradient(lighten($orange,18%), lighten($orange,1%));
			@include text-shadow(0px 1px 0 rgba(#000,0.2));
			@include single-box-shadow(rgba(#000, 0.25), 0px, 1px, 1px, 0);
			&:hover {
				@include linear-gradient(lighten($orange,1%), lighten($orange,18%));
			}
		}
	}
}

.shuffle_issues_button {
	position: relative;
	cursor: pointer;
	margin: 0 auto;
	margin-top: 12px;
	width: 25%;
	height: 35px;
	font-size: 13px;
	@include border-radius(16px);
	background: $bluegreen;
	@include linear-gradient(lighten($bluegreen,4%), darken($bluegreen,12%));
	@include single-box-shadow(rgba(#000, 0.3), 0px, 1px, 1px, 0);
	&:hover {
		@include linear-gradient(darken($bluegreen,8%), lighten($bluegreen,8%));
	}
	.text {
		text-align: center;
		color: rgba(#000, 0.75);
		font-size: 14px;
		padding: 10px 0 0 12px;
		font-weight: bold;
		@include text-shadow(0px 1px 0 rgba(#fff, 0.25));
	}
	.sub {
		position: absolute;
		left: 7px;
		top: 7px;
		height: 20px;
		width: 18px;
		padding: 0px 0 1px 3px;
		color: $bluegreen;
		font-size: 15px;
		background: rgba(#000, 0.6);
		@include border-radius(12px);
	}
}















.dur{}