html {
	height: 100%;
}

body {
	@include fonts;
	margin: 0 3px 3px 3px;
	padding: 0 2px 2px 2px;
	@include fonts;
	/*box-shadow: -2px -1px 2px rgba(darken($bluegreen,10%), 0.3),
				2px 1px 2px rgba(darken($bluegreen,10%), 0.3);
	@include border-radius(6px);*/
	height: 92%;
	/*background: rgb(238,238,238);*/
	background-image: url(misc/gray_jean.png); background-repeat: repeat;
}

.header {
	height: 40px;
	margin: 0 -5px 0px -5px;
	@include linear-gradient(lighten($black,15%), darken($black,15%));
	@include single-box-shadow(rgba(#000, 0.25), 0px, 1px, 1px, 0);
	.header_logo_container {
		height: 40px;
		width: 25px;
		margin: 0 auto;
		padding-top: 7px;
	}
}

.popup {
	
}

.page {
	width: 932px;
	margin: 0 auto;
	height: 650px;
	/*background: rgb(249,249,249);*/
	background-image: url(misc/243.png); background-repeat: repeat;
	margin-top: 2px;
	border: 1px solid rgb(230,230,230);
	border-top: none;
	@include border-bottom-radius(12px);
}

.column {
	position: absolute;
	/*background: #ffffff;*/
	background-image: url(misc/253.png); background-repeat: repeat;
	@include border-radius(12px);
	margin-top: 12px;
	border: 1px solid rgb(229,229,229);
	@include single-box-shadow(rgb(229,229,229), 1px, 1px, 1px, 0);
	&.right {
		height: 622px;
		margin-left: 361px;
		width: 554px;
		padding-right: 1px;

	}
	
	&.left {
		
		&.top {
			margin-left: 14px;
			width: 331px;
			height: 400px;
		}
		
		&.bottom {
			margin-left: 14px;
			width: 331px;
			height: 208px;
			margin-top: 426px;
			margin-left: 14px;
			
			.chat {
				&.chat_text {
					margin-top: 12px;
					text-align: center;
					color: #bbbbbb;
				}

				&.logo {
					margin: 0 auto;
					margin-top: 57px;
					width: 40px;
					height: 40px;
					overflow: hidden;	
					@include border-radius(5px);
						.image_wrapper {
							@include border-radius(5px);
						}
				}
			}
		}
	}
}

/* different pages */

.video {
	margin: 20px 0 0 50px;
	
	embed {
		border:10px solid;
		border-radius: 20px !important;	
		@include single-box-shadow(rgba(#000, 0.3), 2px, 2px, 2px, 0);
	}
}

.results_container {
	float: left;
	@include border-radius(12px);
	width: 90%;
	margin: 12px 0 0 5%;
	border: 1px solid;
	background-image: url(misc/243.png); background-repeat: repeat;
	@include single-box-shadow(rgba($bluegreen, 0.2), 1px, 1px, 1px, 0);
	border: 1px solid rgba($bluegreen, 0.45);
	.won_lost_wait_text {
		color: darken($bluegreen,5%);
		@include text-shadow(1px 1px 0 rgba(#000, 0.15));	
		font-weight: bold;
		position: relative;
		float: left;
		text-align: center;
		width: 100%;
		margin: 5px 0 5px 0;
		font-size: 14px;
		.points_header_text {
			position: absolute;
			font-size: 12px;
			right: 26px;
			top: 2px;
		}
	}
}

.send_result_button {
	float: left;
	width: 20%;
	margin: 12px 0 0 40%;
	
	height: 26px;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	@include border-radius(15px);					
	border: none;
	@include text-shadow(0px 1px 0 rgba(#000,0.2));
	@include single-box-shadow(rgba(#000, 0.3), 0px, 1px, 1px, 0);
	padding-top: 13px;
	font-size: 13px;
	color: #333333;
	right: 7px;
	@include linear-gradient(lighten($orange,18%), lighten($orange,1%));
	&:hover {
		@include linear-gradient(lighten($orange,1%), lighten($orange,18%));
	}
}

.history_text_header {
	margin-top: 15px;
	text-align: center;
	font-weight: bold;
	color: rgba(#000, 0.5);
	font-size: 14px;
}

.fb_button_container {
		@include border-radius(20px);
		@include linear-gradient(lighten($facebookblue,5%), darken($facebookblue,5%));
		@include single-box-shadow(rgba(#000, 0.45), 0px, 1px, 1px, 0);
		@include text-shadow(0px 1px 0 rgba(#000, 0.2));
		@include fonts;
		font-size: 13px;
		font-weight: bold;
		height: 30px;
		padding-top: 15px;
		width: 56%;
		margin: 90px 0 8px 22%;
		text-decoration: none;
		text-align: center;
		color: #ffffff;
		border: none;
		&:hover {
			cursor: pointer;
			@include linear-gradient(darken($facebookblue,5%), lighten($facebookblue,5%));
		}
		a:link {
			text-decoration: none;
			color: #ffffff;
		}
		a:visited {
			text-decoration: none;
			color: #ffffff;
		}
	}

	.signin_text {
		font-size: 13px;
		color: #888888;
		text-align: center;
}

.create_account_text {
	margin: 20px 0 10px 0;
	text-align: center;
	font-weight: bold;
	color: rgba(#000, 0.45);
	font-size: 13px;
	@include text-shadow(0px 1px 0 rgba(#000, 0.2));
}

.create_account_container {
	margin: 5px 0 0 7px;	
	input {

		@include border-radius(8px);
		color: darken($bluegreen, 5%);

		font-size: 10px;
		height: 20px;
		width: 100px;
		text-align: center;
		border: none;
		box-shadow: 1px 1px 1px rgba(darken($orange,40%), 0.7) inset;
		&:active {
			box-shadow: -1px 0px 1px rgba(darken($orange,10%), 0.5) inset,
						1px 0px 1px rgba(darken($orange,10%), 0.5) inset;
		}
	}
}
.create_account_button {
	input {
		@include fonts;
		float: left;
		height: 32px;
		width: 34%;
		margin: 10px 0 0 33%;
		text-align: center;
		cursor: pointer;
		font-weight: bold;
		@include border-radius(20px);					
		border: none;
		color: #ffffff;

		padding-top: 3px;
		font-size: 11px;
		@include linear-gradient(lighten($bluegreen,10%), darken($bluegreen,10%));
		@include text-shadow(0px 1px 0 rgba(#000,0.2));
		@include single-box-shadow(rgba(#000, 0.3), 0px, 1px, 1px, 0);
		&:hover {
			@include linear-gradient(darken($bluegreen,10%), lighten($bluegreen,10%));
		}
	}
}

.container_header {
	height: 15px;
	width: 100%;
	text-align: center;
	padding: 2px 0 0 0;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	border: 1px solid;
	border-color: rgba($bluegreen,0.9);				
	@include text-shadow(0px 1px 0 rgba(#000, 0.3));
	border-bottom: 1px solid rgba(#000, 0.06);	
	/*@include linear-gradient(lighten($bluegreen,8%), darken($bluegreen,12%));*/
	background-image: url(misc/green_texture.png); background-repeat: repeat;
	@include border-top-radius(11px);
}