html {
	height: 100%;
}

body {
	@include fonts;
	margin: 0 3px 3px 3px;
	padding: 0 2px 2px 2px;
	@include fonts;
	/*box-shadow: -2px -1px 2px rgba(darken($bluegreen,10%), 0.3),
				2px 1px 2px rgba(darken($bluegreen,10%), 0.3);
	@include border-radius(6px);*/
	height: 92%;
	/*background: rgb(238,238,238);*/
	background-image: url(misc/gray_jean.png); background-repeat: repeat;
}

.header {
	height: 40px;
	margin: 0 -5px 0px -5px;
	/*@include linear-gradient(lighten($black,15%), darken($black,15%));*/
	background-image: url(misc/black_header_texture.png); background-repeat: repeat;
	@include single-box-shadow(rgba(#000, 0.25), 0px, 1px, 1px, 0);
	.header_logo_container {
		height: 40px;
		width: 30px;
		margin: 0 auto;
		padding-top: 6px;
		&:hover {
			cursor: pointer
		}
	}
}

.popup {
}

.page {
	z-index: 1;
	width: 932px;
	margin: 0 auto;
	height: 650px;
	/*background: rgb(249,249,249);*/
	background-image: url(misc/253.png); background-repeat: repeat;
	margin-top: 2px;
	border: 1px solid rgb(230,230,230);
	border-top: none;
	@include border-bottom-radius(12px);
}

.column {
	position: absolute;
	/*background: #ffffff;*/
	/*background-image: url(misc/253.png); background-repeat: repeat;*/
	padding-top: 12px;
	&.right {
		height: 632px;
		margin-left: 347px;
		width: 570px;
		padding-right: 1px;
		padding-left: 14px;
		background: #fff;
	}
	
	&.left {
		
		&.top {
			margin-top: 12px;
			padding-top: 0px;
			padding-left: 14px;
			width: 311px;
			height: 632px;
			padding-right: 22px;
			border-right: 1px solid rgb(235,235,235);
			
		}
		
		&.bottom {
			display: none;
			width: 311px;
			height: 208px;
			margin-top: 426px;
			margin-left: 14px;
			
			.chat {
				&.chat_text {
					margin-top: 12px;
					text-align: center;
					color: #bbbbbb;
				}

				&.logo {
					margin: 0 auto;
					margin-top: 57px;
					width: 40px;
					height: 40px;
					overflow: hidden;	
					@include border-radius(5px);
						.image_wrapper {
							@include border-radius(5px);
						}
				}
			}
		}
	}
}

/* different pages */

.video {
	position: absolute;
	top: 650px;
	left: 250px;
	
	embed {
		border:10px solid;
		border-radius: 20px !important;	
		@include single-box-shadow(rgba(#000, 0.3), 2px, 2px, 2px, 0);
	}
}

.results_container {
	float: left;
	width: 90%;
	margin: 12px 0 0 4%;
	border: 1px solid;
	background-image: url(misc/253.png); background-repeat: repeat;
	@include single-box-shadow(rgba($bluegreen, 0.2), 1px, 1px, 1px, 0);
	border: 1px solid rgb(232,232,232);
	@include border-radius(4px);
	.won_lost_wait_text {
		color: $black;
		@include text-shadow(1px 1px 0 rgba(#000, 0.15));	
		font-weight: bold;
		position: relative;
		float: left;
		text-align: center;
		width: 100%;
		margin: 5px 0 5px 0;
		font-size: 14px;
		.points_header_text {
			position: absolute;
			font-size: 12px;
			right: 26px;
			top: 2px;
		}
	}
}

.send_result_button {
	width: 20%;
	height: 23px;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	@include border-radius(5px);
	box-shadow: 0px 1px 1px rgba(#fff, 0.15) inset;
	border: 1px solid darken($bluegreen, 2%);
	border-bottom: 1px solid darken($bluegreen, 10%);					
	@include single-box-shadow(rgba(#000, 0.3), 0px, 1px, 1px, 0);
	padding-top: 9px;
	font-size: 13px;
	color: #fff;
	right: 7px;
	@include linear-gradient(lighten($bluegreen,6%), darken($bluegreen,6%));
	&:hover {
		background: darken($bluegreen, 6%);
	}
	
	&.right {
		margin: 15px 0 0 10px;
		float: right;
	}
	
	&.centered {
		float: left;
		margin: 15px 0 0 40%;
	}
}

.history_text_header {
	float: left;
	margin-top: 15px;
	width: 100%;
	text-align: center;
	font-weight: bold;
	color: $bluegreen;
	@include text-shadow(0px 1px 0 rgba(#000, 0.3));
	font-size: 14px;
}

.fb_button_container {
		@include border-radius(20px);
		@include linear-gradient(lighten($facebookblue,5%), darken($facebookblue,5%));
		@include single-box-shadow(rgba(#000, 0.45), 0px, 1px, 1px, 0);
		@include text-shadow(0px 1px 0 rgba(#000, 0.2));
		@include fonts;
		font-size: 13px;
		font-weight: bold;
		height: 30px;
		padding-top: 15px;
		width: 56%;
		margin: 90px 0 8px 22%;
		text-decoration: none;
		text-align: center;
		color: #ffffff;
		border: none;
		&:hover {
			cursor: pointer;
			@include linear-gradient(darken($facebookblue,5%), lighten($facebookblue,5%));
		}
		a:link {
			text-decoration: none;
			color: #ffffff;
		}
		a:visited {
			text-decoration: none;
			color: #ffffff;
		}
	}

	.signin_text {
		font-size: 13px;
		color: #888888;
		text-align: center;
}

.create_account_text {
	margin: 20px 0 10px 0;
	text-align: center;
	font-weight: bold;
	color: rgba(#000, 0.45);
	font-size: 13px;
	@include text-shadow(0px 1px 0 rgba(#000, 0.2));
}

.create_account_container {
	margin: 5px 0 0 7px;	
	input {

		@include border-radius(8px);
		color: $bluegreen;

		font-size: 10px;
		height: 20px;
		width: 100px;
		text-align: center;
		border: none;
		box-shadow: 1px 1px 1px rgba($bluegreen, 0.8) inset;
		&:focus {
			box-shadow: 1px 1px 1px rgba($bluegreen, 0.95) inset;
			outline-width: 0;
		}
	}
}
.create_account_button {
	input {
		@include fonts;
		float: left;
		height: 32px;
		width: 34%;
		margin: 10px 0 0 33%;
		text-align: center;
		cursor: pointer;
		font-weight: bold;
		@include border-radius(20px);					
		border: none;
		color: #ffffff;

		padding-top: 3px;
		font-size: 11px;
		@include linear-gradient(lighten($bluegreen,6%), darken($bluegreen,6%));
		@include text-shadow(0px 1px 0 rgba(#000,0.2));
		@include single-box-shadow(rgba(#000, 0.3), 0px, 1px, 1px, 0);
		&:hover {
			background: darken($bluegreen, 6%);
		}
	}
}

.container_header {
	height: 15px;
	width: 100%;
	text-align: left;
	padding: 2px 0 0 0;
	color: $black;
	font-size: 13px;
	font-weight: bold;		
	/*@include linear-gradient(lighten($bluegreen,8%), darken($bluegreen,12%));*/
	/*background-image: url(misc/green_texture.png); background-repeat: repeat;*/
	@include border-top-radius(11px);
}

.like-button {
	position: absolute;
	width: 320px;
	right: 21px;
	top: 500px;
	z-index: 16;
}

.centered_header_container {
	position: relative;
	height: 1px;
	width: 932px;
	margin: 0 auto;
	margin-top: -46px;
}

#fb_login {
	position: relative;
	color: #fff;
	height: 43px;
	width: 66%;
	margin-left: 17%;
	border: 1px solid rgb(24,48,84);
	border-bottom: 1px solid rgb(6,44,80);	
	font-size: 14px;
	line-height: 18px;
	@include linear-gradient(rgb(76,119,175), rgb(27,70,135));
	box-shadow: 0px 1px 1px rgb(128,163,216) inset;	
	@include text-shadow(0px 1px 0 rgba(#000,0.4));
	@include border-radius(5px);
	z-index: 13;
	.facebook_f {
		font-family: Helvetica Neue;
		font-size: 28px;
		margin-top: 1px;
		padding-top: 12px;
		float: left;
		width: 37px;
		text-align: center;
		height: 30px;
		border-right: 1px solid rgba(#fff, 0.06);
	}
	.connect_with_facebook {
		float: left;
		margin-top: 1px;
		padding-top: 11px;
		padding-left: 13px;
		width: 152px;
		text-align: left;
		height: 31px;
		font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
		border-left: 1px solid rgba(#000, 0.08);
	}
	&:hover {
		border: 1px solid rgb(6,44,80);
		cursor: pointer;
		background: rgb(50,90,150);
	}
}

.home_images_container {
	position: relative;
	width: 932px;
	height: 520px;
	margin: -14px 0 0 -361px;
	background-image: url(misc/253.png); background-repeat: repeat;
	z-index: 10;
	border-top: 1px solid rgba(#000, 0.15);
	.grey_cover {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 1;
		background: rgba(#000, 0.0);
	}
	.home_logo_container {
		position: absolute;
		top: 72px;
		left: 72px;
		width: 55px;
		height: 55px;
		z-index: 11;
	}
	.fusegap_enlightenment_text {
		position: absolute;
		width: 335px;
		left: 25px;
		top: 70px;
		color: $black;
		z-index: 13;
		text-align: center;
		.fusegap {
			width: 280px;
			font-size: 42px;
			font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
			padding-left: 59px;
			letter-spacing: 1px;	
			font-weight: bold;	
		}
		.enlightenment {
			width: 335px;
			margin-top: 8px;
			padding-top: 1px;
			font-style: italic;
			font-size: 14px;
			line-height: 20px;
			border-top: 1px solid rgba(#000, 0.05);
		}
	}
	.home_slide_div {
		position: absolute;
		width: 520px;	
		@include single-box-shadow(rgba(#000, 0.4), 0px, 0px, 8px, 5px);
		@include border-radius(4px);
		&.first {
			top: 25px;
			right: 25px;
			height: 232px;
		}
		&.second {
			height: 361px;
			top: 208px;
			left: 25px;
		}
		.wrapper {
			overflow: hidden;
			position: static;
			height: 100%;
			width: 100%;
			@include border-radius(4px);
			img {
				height: 100%;
				width: 100%;
			}
		}		
	}
	.signin_container {
		position: absolute;
		right: 25px;
		top: 273px;
		height: 220px;
		width: 335px;
		border-bottom: 1px solid rgba(#000, 0.06);
		.get_started_text {
			text-align: center;
			float: left;
			width: 100%;
			font-weight: bold;
			color: $black;
			margin: 25px 0 12px 0;
		}
		.facebook_login_button_container {
			float: left;
			width: 100%;
		}
		.or_container {
			position: relative;
			float: left;
			margin: 22px 0 22px 29%;
			padding-top: -12px;
			height: 0px;
			border: 1px solid rgb(220,220,220);
			border-top: 1px solid rgb(232,232,232);
			width: 42%;
			.text {
				position: absolute;
				top: -8px;
				width: 100%;
				text-align: center;
				font-style: italic;
				color: $black;
				font-size: 13px;
			}
		}
		.signup_email_button {
			position: relative;
			float: left;
			width: 179px;
			left: 77px;
			border: 1px solid rgb(208,208,208);
			border-bottom: 1px solid rgb(184,184,184);
			height: 43px;
			font-size: 14px;
			z-index: 13;
			color: $black;
			@include linear-gradient(rgb(255,255,255), rgb(230,230,230));
			@include border-radius(5px);
			&:hover {
				cursor: pointer;
				background: rgb(230,230,230);
				border: 1px solid rgb(184,184,184);
			}
			.left {
				position: absolute;
				width: 20px;
				height: 20px;
				top: 14px;
				left: 14px;
			}
			.right {
				position: absolute;
				right: 2px;
				top: 0px;
				width: 140px;
				height: 30px;
				padding-top: 13px;
				text-align: center;
				@include text-shadow(0 1px 0 rgba(#fff,0.9));
			}
		}
	}
}



















.dur{}