.mfc_share_container {
	position: absolute;
	top: 510px;
	width: 100%;
	.mfc_share_button {
		position: absolute;
		text-align: center;
		cursor: pointer;			
		border: 1px solid darken($bluegreen, 17%);
		font-size: 14px;
		font-weight: bold;
		width: 110px;		
		height: 26px;	
		@include border-radius(4px);
		z-index: 13;
		padding-top: 9px;
		text-align: center;
		font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
		color: #fff;
		left: 225px;
		@include text-shadow(0px 1px 0 rgba(#000,0.4));
		border: 1px solid rgb(70,70,70);
		@include linear-gradient(rgb(76,119,175), rgb(27,70,135));
		box-shadow: 0px 1px 1px rgba(#fff, 0.15) inset;			
		@include single-box-shadow(rgb(249,249,249), 0px, 1px, 0px, 1px);
		.facebook_f {
			position: absolute;
			top: 0px;
			padding-top: 3px;
			font-size: 24px;
			font-weight: normal;
			width: 25px;
			text-align: center;
			height: 31px;
			border-right: 1px solid rgba(#fff, 0.06);
		}
		.text {
			font-size: 14px;
			position: absolute;
			top: 9px;
			left: 36px;
			width: 60px;
		}
		&:hover {
			border: 1px solid rgb(6,44,80);
			cursor: pointer;
			background: rgb(50,90,150);
		}
	}
}

.MFC_title {
	position: absolute;
	top: 10px;
	right: 0px;
	width: 555px;
	font-size: 28px;
	font-weight: bold;
	text-align: center;	
	font-family: Helvetica;
	color: $black;
	span {
		color: $bluegreen;
		font-style: normal;
	}
}

.MFC_paragraph {
	position: absolute;
	top: 60px;
	right: 0px;
	width: 555px;
	color: $black;
	.quote_container {
		position: relative;
		font-size: 13px;
		font-style: italic;
		width: 76%;
		margin: 10px 0 0 12%;
		.quote_text {
			font-weight: bold;
			text-align: left;
			line-height: 17px;
			margin-top: 15px;
			@include text-shadow(0 1px 1px rgba(#fff,0.99));
			span {
				font-weight: normal;
				padding-left: 2px;
			}
			&.first {
				text-align: center;
				margin-top: 0px;
			}
		}
		.quote_author {
			text-align: right;
		}
	}
	
	.paragraphs {
		position: relative;
		font-size: 13px;
		line-height: 17px;
		padding: 0 5px 0 5px;
		span {
			font-weight: bold;
			color: $bluegreen;
		}
	}
}

.fb_login_main {
	&.signin {
		width: 100%
	}
	position: relative;
	color: #fff;
	height: 43px;
	border: 1px solid rgb(24,48,84);
	border-bottom: 1px solid rgb(6,44,80);	
	font-size: 14px;
	line-height: 18px;
	@include linear-gradient(rgb(76,119,175), rgb(27,70,135));
	box-shadow: 0px 1px 1px rgb(128,163,216) inset;	
	@include text-shadow(0px 1px 0 rgba(#000,0.4));
	@include border-radius(5px);
	z-index: 13;
	.facebook_f {
		font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
		font-size: 28px;
		margin-top: 1px;
		padding-top: 12px;
		float: left;
		width: 37px;
		text-align: center;
		height: 30px;
		border-right: 1px solid rgba(#fff, 0.06);
	}
	.connect_with_facebook {
		float: left;
		margin-top: 1px;
		padding-top: 11px;
		padding-left: 13px;
		width: 152px;
		text-align: left;
		height: 31px;
		font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
		border-left: 1px solid rgba(#000, 0.08);
	}
	&:hover {
		border: 1px solid rgb(6,44,80);
		cursor: pointer;
		background: rgb(50,90,150);
	}
}

.MFC_signin_container {
	position: absolute;
	right: 0px;
	top: 510px;
	height: 200px;
	width: 555px;
	border-top: 1px solid rgba(#000, 0.06);
	.get_started_text {
		text-align: center;
		float: left;
		width: 100%;
		font-weight: bold;
		color: $black;
		margin: 20px 0 12px 0;
	}
	.facebook_login_button_container {
		position: absolute;
		width: 213px;
		top: 55px;
		left: 30px;
	}
	.or_container {
		position: absolute;
		left: 280px;
		top: 49px;
		width: 0px;
		height: 60px;
		border-right: 1px solid rgb(218,218,218);
		border: 1px solid rgb(237,237,237);
		.text {
			position: absolute;
			top: 20px;
			left: -7px;
			width: 100%;
			text-align: center;
			font-style: italic;
			color: $black;
			font-size: 13px;
		}
	}
	.signup_email_button {
		position: absolute;
		top: 55px;
		right: 58px;
		width: 179px;
		border: 1px solid rgb(208,208,208);
		border-bottom: 1px solid rgb(184,184,184);
		height: 43px;
		font-size: 14px;
		z-index: 13;
		color: $black;
		@include linear-gradient(rgb(255,255,255), rgb(230,230,230));
		@include border-radius(5px);
		&:hover {
			cursor: pointer;
			background: rgb(230,230,230);
			border: 1px solid rgb(184,184,184);
		}
		.left {
			position: absolute;
			width: 20px;
			height: 20px;
			top: 14px;
			left: 14px;
		}
		.right {
			position: absolute;
			right: 2px;
			top: 0px;
			width: 140px;
			height: 30px;
			padding-top: 13px;
			text-align: center;
			@include text-shadow(0 1px 0 rgba(#fff,0.9));
		}
	}

	#signup_form {
		position: relative;
		z-index: 13;
		width: 100%;
		float: left;
		margin: 70px 0 0 0;
		padding: 8px 0 60px 0;
		border: 1px solid rgb(219,219,219);
		@include border-radius(3px);
		@include single-box-shadow(rgba(#000,0.1), 1px, 1px, 1px, 0);
		input {
			@include border-radius(3px);
			color: $black;
			@include fonts;
			font-size: 12px;
			height: 24px;
			width: 50%;
			text-align: center;
			margin: 0 0 5px 9%;
			border: 1px solid rgb(212,212,212);
			box-shadow: 0px 1px 1px rgb(240,240,240) inset;
			&:focus {
				border: 1px solid rgb(180,180,180);
				box-shadow: 0px 1px 1px rgb(220,220,220) inset;
				outline-width: 0;
			}
		}
		.signup_button {
			position: absolute;
			width: 100px;
			top: 57px;
			right: 16px;
			border: 1px solid rgb(208,208,208);
			border-bottom: 1px solid rgb(184,184,184);
			height: 28px;
			font-size: 14px;
			color: $black;
			text-align: center;
			font-weight: bold;
			@include text-shadow(0 1px 0 rgba(#fff,0.9));
			@include linear-gradient(rgb(255,255,255), rgb(230,230,230));
			@include border-radius(5px);
			&:hover {
				cursor: pointer;
				background: rgb(230,230,230);
				border: 1px solid rgb(184,184,184);
			}
		}
	}
}

.MFC_infographic_container {
	position: absolute;
	top: 160px;
	height: 220px;
	width: 317px;
	@include single-box-shadow(rgba(#000, 0.1), 0px, 0px, 4px, 2px);
	@include border-radius(4px);
	.wrapper {
		overflow: hidden;
		position: static;
		height: 100%;
		width: 100%;
		@include border-radius(4px);
		img {
			height: 100%;
			width: 100%;
		}
	}
}

.MFC_progress_bar {
	position: absolute;
	top: 10px;
	height: 100px;
	width: 317px;
	border-bottom: 1px solid rgb(240,240,240);
	.counter {
		position: relative;	
		float: left;
		margin: 5px 0 0 8px;
		color: $bluegreen;
		font-size: 26px;
	}
	.facts_learned {
		position: relative;
		float: left;
		margin: 18px 0 0 10px;
		color: $black;
		font-size: 11px;
	}
	.bar {
		position: absolute;
		width: 306px;
		height: 10px;
		border: 1px solid;
		top: 40px;
		left: 5px;
		color: $bluegreen;
		@include border-radius(5px);
		
		.fill {
			position: absolute;
			top: 0;
			left: 0;
			width: 0;
			height: 10px;
			background: lighten($bluegreen, 20%);
			@include border-radius(4px);
		}
	}
	.million {
		position: absolute;
		top: 57px;
		right: 5px;
		color: $black;
		font-weight: bold;
		font-size: 12px;
	}
	.hundredk {
		position: absolute;
		top: 57px;
		right: 145px;
		color: $black;
		font-weight: bold;
		font-size: 12px;
	}
}

.MFC_like_container {
	position: absolute;
	top: 430px;
	height: 100px;
	width: 317px;
	border-top: 1px solid rgb(240,240,240);
	padding-top: 25px;
}

.mfc-popup-background {
	z-index: 999;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba($bluegreen, 0.7);
}

.mfc-popup {
	z-index: 1000;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	
	.container {
		width: 932px;
		margin: 0 auto;
		position: relative;
	}
	
	.mfc-like-container {
		/* this is the equivalent class for the like popup as the do_you_like_facts for the question popup */
		position: absolute;
		top: 75px;
		left: 266px;
		width: 400px;
		height: 215px;
		background: #fff;
		@include single-box-shadow(rgba(#000,0.25), 0px, 0px, 10px, 5px);
		@include border-radius(4px);
		border: 1px solid rgb(240,240,240);
		color: $black;
		overflow: hidden;
		
		.mfc_container {
			position: relative;
			width: 100%;
			&.top {
				height: 135px;
				background-image: url(misc/253.png); background-repeat: repeat;
				.title {
					width: 100%;
					font-size: 20px;
					padding-top: 15px;
					height: 32px;
					text-align: center;
					@include text-shadow(0 1px 0 rgba(#fff,0.99));
					span {
						font-weight: bold;
						color: $bluegreen;
					}
				}
				
				.like-button {
					margin: 15px 0 0 17px;
					.fb-like {

					}
				}
			}
			&.bottom {
				height: 80px;
				border-top: 1px solid rgb(240,240,240);
				.continue_button {
					bottom: 15px;
					position: absolute;
					width: 120px;
					height: 33px;
					@include border-radius(4px);
					font-size: 17px;
					font-weight: bold;
					text-align: center;
					padding-top: 12px;
					left: 140px;
					color: #fff;
					@include linear-gradient(lighten($bluegreen, 6%), darken($bluegreen, 9%));
					border: 1px solid darken($bluegreen, 17%);
					box-shadow: 0px 1px 1px lighten($bluegreen, 22%) inset;	
					@include single-box-shadow(rgb(249,249,249), 0px, 1px, 0px, 1px);
					@include text-shadow(0px 1px 2px rgba(#000, 0.35));	
					&:hover {
						@include linear-gradient(lighten($bluegreen, 12%), darken($bluegreen, 11%));
						cursor: pointer;
					}
				}
			}
		}
	}
	
	.do_you_like_facts {
		position: absolute;
		top: 75px;
		left: 266px;
		@include border-radius(4px);
		background: #fff;
		@include single-box-shadow(rgba(#000,0.25), 0px, 0px, 10px, 5px);
		width: 400px;
		height: 200px;
		border: 1px solid rgb(240,240,240);
		overflow: hidden;

		.screen_question {
			position: absolute;
			background-image: url(misc/253.png); background-repeat: repeat;
			font-size: 28px;
			height: 44px;
			width: 100%;
			text-align: center;
			color: $black;
			font-weight: bold;
			border-bottom: 1px solid rgb(240,240,240);
			padding-top: 11px;
			overflow: hidden;
		}
		.answer {
			bottom: 20px;
			position: absolute;
			width: 120px;
			height: 33px;
			@include border-radius(4px);
			font-size: 17px;
			font-weight: bold;
			text-align: center;
			padding-top: 12px;
			&.yes {
				left: 60px;
				color: #fff;
				@include linear-gradient(lighten($bluegreen, 6%), darken($bluegreen, 9%));
				border: 1px solid darken($bluegreen, 17%);
				box-shadow: 0px 1px 1px lighten($bluegreen, 22%) inset;	
				@include single-box-shadow(rgb(249,249,249), 0px, 1px, 0px, 1px);
				@include text-shadow(0px 1px 2px rgba(#000, 0.35));	
				&:hover {
					@include linear-gradient(lighten($bluegreen, 12%), darken($bluegreen, 11%));
					cursor: pointer;
				}
			}
			&.no {
				right: 60px;
				color: $black;
				@include linear-gradient(#fff, rgb(245,240,231));
				border: 1px solid rgb(202,202,202);
				@include single-box-shadow(rgb(249,249,249), 0px, 1px, 0px, 1px);
				@include text-shadow(0px 1px 0px #fff);	
				&:hover {
					@include linear-gradient(#fff, rgb(220,220,220));
					cursor: pointer;
				}
			}
			.text {
				position: absolute;
				top: 11px;
				width: 100%;
				text-align: center;
			}
		}
		.result_container {
			position: absolute;
			bottom: 2px;
			height: 80px;
			width: 100%;
			text-align: center;
			background: #fff;
			font-size: 18px;
			font-weight: bold;
			color: $black;
			span {
				font-size: 14px;
				font-weight: normal;
				cursor: pointer;
				font-style: italic;
				color: rgb(110,110,110);
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
.post_signin_popup {
	/*Thanks for signing up! Like us on Facebook?
	
	Continue*/
}





















.dur{}