.question {
	
	.title {		
		float: left;
		font-weight: bold;
		margin: 10px 8px 8px 8px;
		font-size: 16px;
		line-height: 20px;
		color: $black;
		&.container {
			width: 94%;
			margin-left: 2.5%;
			padding-top: 5px;

		}
	}
	
	.slider-answers {
		position: relative;
		float: left;
		width: 91.5%;
		margin-left: 3%;
	}
	
	&.result {
		position: relative;
		float: left;
		width: 96%;
		margin-left: 2%;
		height: 54px;
		border-top: 1px solid rgb(232,232,232);
		padding-top: 6px;
		.question_result_text {
			font-size: 13px;
			line-height: 16px;
			float: left;
			width: 84%;
			height: 32px;
			color: $black;
			overflow: hidden;
		}
		.question_result_answer_container {
			float: left;
			font-size: 12px;
			width: 100%;
			text-align: center;
			font-weight: bold;
			margin: 5px 0 0 0;
			color: $black;
			.question_result_answer {
				color: $bluegreen;
			}
		}
	}
}
