.question {
	
	.title {
		float: left;
		font-weight: bold;
		margin: 8px 8px 8px 8px;
		font-size: 14px;
		line-height: 18px;
		&.container {
			
		}
	}
	
	.slider-answers {
		position: relative;
		float: left;
		width: 100%;
	}
	
	&.result {
		position: relative;
		float: left;
		width: 96%;
		margin-left: 2%;
		height: 54px;
		border-top: 1px solid rgba(#000, 0.12);
		padding-top: 6px;
		
		.question_result_text {
			font-size: 12px;
			line-height: 16px;
			float: left;
			width: 84%;
			height: 32px;
			color: rgba(#000,0.7);
			overflow: hidden;
		}
		.question_result_answer_container {
			float: left;
			font-size: 12px;
			width: 100%;
			text-align: center;
			font-weight: bold;
			margin: 5px 0 0 0;
			@include text-shadow(1px 1px 0 rgba(#000, 0.15));	
			.question_result_answer {
				color: darken($bluegreen, 10%);
			}
		}
	}
}
