.user {
	.stars {
		float: left;
		position: relative;
		&.filled {

			.star {
				width: 10px;
				&.container {
					
				}
			}
		}

		&.active {
			font-size: 8px;
			.star {
				width: 10px;
				&.container {
					margin-left: 1px;
				}
			}
			
			.ring {
				position: absolute;
				top:0;
				left:0;
				input {

				}
			}
		}
	}
}

.user.versus {
	.stars {

		&.filled {

		}

		&.active {
			margin: 3px 0 0 0;
			.star {
				
				&.container {
					
				}
			}
			
			.ring {
				
				input {

				}
			}
		}
	}
}

.user.sidebar {
	.stars {
		float: right;
		&.filled {
			
			.star {
				margin-left: -3px;
				&.container {
					
				}
			}
		}

		&.active {
			margin: 1px 0 0 0;
			.star {
				font-size: 9px;
				&.container {
				}
			}
			
			.ring {
				
				input {
				}
			}
		}
	}
}

.user.profile {
	.stars {

		&.filled {

		}

		&.active {
			
			.star {
				
				&.container {
					
				}
			}
			
			.ring {
				
				input {

				}
			}
		}
	}
}

.user.issue {
	.stars {
		overflow: hidden;
		height: 20px;
		position: relative;
		&.filled {
			.star {
				
				&.container {
					
				}
			}
			
			.ring {
				position: absolute;
				top:0;
				left:0;
				overflow: hidden;
				height: 20px;
				input {

				}
			}
		}

		&.active {
			margin: -1px 0 0 0;
			.star {
				&.container {
				}
			}
		}
	}
}

.user.friend {
	.stars {
		
		&.filled {

		}

		&.active {
			
			.star {
				
				&.container {
					
				}
			}
			
			.ring {

				input {

				}
			}
		}
	}
}

.history {
	.stars {

		&.filled {

		}

		&.active {
			
			.star {
				
				&.container {
					
				}
			}
			
			.ring {
				
				input {

				}
			}
		}
	}
}