.slider {
	&.bar {
		position: relative; 
		height: 12px; 
		@include border-radius(5px);
		@include linear-gradient(rgba($black,0.03), rgba($black,0.15));
		@include single-box-shadow(rgba(#000, 0.13), 0px, 1px, 1px, 0);
		width: 100%; 
		top: 0px; 
		left: 0;
	}
	
	&.fill {
		position: absolute;
		top: 0;
		left: 0;
		@include linear-gradient(lighten($bluegreen,6%), darken($bluegreen,6%));
		width: 50%;
		height: 12px; 
		@include border-radius(5px);
	}
	
	&.users {
		position: absolute;
		top: -8px;
		left: 0;
		&.user {
			z-index: 1;
			cursor: pointer;
			width: 30px;
			height: 30px;
			text-align: center;
			@include border-radius(15px);
			@include linear-gradient(lighten($bluegreen,6%), darken($bluegreen,6%));
			box-shadow: -1px 0px 1px rgba(darken($bluegreen,5%), 0.5),
						1px 0px 1px rgba(darken($bluegreen,5%), 0.5);
			&:active {
				@include linear-gradient(darken($bluegreen,6%), lighten($bluegreen,6%));
			}
		}
		
		&.challenger {
			z-index: 0;
			cursor: pointer;
			width: 30px;
			height: 30px;
			text-align: center;
			@include border-radius(15px);
			@include linear-gradient(lighten($black,20%), lighten($black,10%));
			box-shadow: -1px 0px 1px rgba(lighten($black,10%), 0.5),
						1px 0px 1px rgba(lighten($black,10%), 0.5);
		}
		
		.logo {
			margin: 7px 0 0 7px;
			height: 15px;
			width: 15px;
			img {
				height: 100%;
				width: 100%;
			}
		}
		
		.picture {
			&.container {
				margin: 2px 0 0 2px;
				overflow: hidden;
				@include single-box-shadow(rgba(#000, 0.25), 1px, 1px, 1px, 0);
				@include border-radius(15px);
				height: 25px;
				width: 25px;
			}
			
			&.wrapper {
				overflow: hidden;
				position: static;
				height: 100%;
				width: 100%;
				@include border-radius(15px);
				img {
					height: 100%;
					width: 100%;
				}
			}
		}
	}
	
	&.correct-wrapper {
		position: absolute;
		top: 18px;
		width: 30px;
	}
	
	&.correct {
		position: absolute;
		top: 0;
		left: -5px;
		content: "";
		border-width: 0px 20px 30px 20px;
		border-style: solid;
		border-color: rgba($black, 0) rgba($black, 0) rgba($black, 1) rgba($black, 0);
		width: 0;
		height: 0;
		@include single-box-shadow(rgba($orange, 0.12), 0px, 1px, 1px, 0);
		font-size: 11px;
		.check {
			font-size: 19px;
			color: $bluegreen;
			padding-top: 7px;
			margin: 0 0 0 -8px;
			width: 30px;
		}
		
		.number {
			position: absolute;
			font-weight: bold;
			top: 30px;
			left: -41px;
			font-size: 12px;
			width: 80px;
			text-align: center;
			color: $bluegreen;
			overflow: auto;
		}
	}
}

.bounds {
	position: absolute;
	top: 67px;
	width: 100px;
	height: 22px;
	&.min {
		left: -3px;
		text-align: left;
		.triangle {
			left: 1px;
		}
	}

	&.max {
		right: -3px;
		text-align: right;
		.triangle {
			right: 1px;
		}
	}
	
	.number {
		position: absolute;
		width: 100px;
		bottom: -1px;
		font-size: 11px;
		color: $black;
	}

	.triangle {
		position: absolute;
		margin-bottom: 2px;
		content: "";
		display: block; 
		border-width: 0px 5px 8px 5px;
		border-style: solid;
		border-color: rgba(darken($bluegreen,0%), 0) rgba(darken($bluegreen,0%), 0) rgba(darken($bluegreen,0%), 1) rgba(darken($bluegreen,0%), 0);
		width: 0;
		height: 0;
		@include single-box-shadow(rgba($orange, 0.12), 0px, 1px, 1px, 0);
	}
}

.buttons {
	float: left;
	width: 100%;
	position: relative;
	margin-top: 70px;
	height: 50px;
	.button {
		position: absolute;
		width: 100px;
		height: 26px;
		text-align: center;
		cursor: pointer;
		font-weight: bold;
		bottom: 8px;
		@include border-radius(5px);
		padding-top: 11px;
		font-size: 14px;
		color: #fff;
		&.source {
			box-shadow: 0px 1px 1px rgb(110,110,110) inset;
			border: 1px solid rgb(70,70,70);
			left: 45px;
			@include linear-gradient(lighten($black,20%), lighten($black,10%));
			&:hover {
				background: lighten($black, 10%);
			}	
		}
		
		&.share {
			width: 130px;
			@include text-shadow(0px 1px 0 rgba(#000,0.4));
			border: 1px solid rgb(70,70,70);
			left: 188px;
			@include linear-gradient(rgb(76,119,175), rgb(27,70,135));
			.facebook_f {
				position: absolute;
				top: 0px;
				padding-top: 6px;
				font-size: 24px;
				font-weight: normal;
				width: 30px;
				text-align: center;
				height: 50px;
				border-right: 1px solid rgba(#fff, 0.06);
			}
			.text {
				position: absolute;
				top: 11px;
				left: 44px;
			}
			&:hover {
				border: 1px solid rgb(6,44,80);
				cursor: pointer;
				background: rgb(50,90,150);
			}	
		}
		
		&.next {
			box-shadow: 0px 1px 1px rgba(#fff, 0.15) inset;
			right: 45px;
			border: 1px solid darken($bluegreen, 2%);
			border-bottom: 1px solid darken($bluegreen, 10%);
			@include linear-gradient(lighten($bluegreen,6%), darken($bluegreen,6%));
			&:hover {
				background: darken($bluegreen, 6%);
			}
		}
	}
	
	.rage {
		position: absolute;
		height: 70px;
		width: 70px;
		left: 217px;
		top: 60px;
	}
}

.input {
	margin: 10px 0 18px 0;
	text-align: center;
	form {
		
		input {
			font-weight: bold;
			@include border-radius(4px);
			color: $bluegreen;
			font-size: 12px;
			height: 20px;
			width: 100px;
			text-align: center;
			border: 1px solid rgb(212,212,212);
			box-shadow: 0px 1px 1px rgb(240,240,240) inset;
			&:focus {
				outline-width: 0;
				border: 1px solid rgb(192,192,192);
				box-shadow: 0px 1px 1px rgb(220,220,220) inset;
			}
		}
		
		.units {
			color: $bluegreen;
			font-size: 12px;
		}
	}
}

.submit {
	form {		
		input {
			@include fonts;
			float: left;
			height: 33px;
			width: 24%;
			margin: 35px 0 0 38%;
			text-align: center;
			cursor: pointer;
			font-weight: bold;
			@include border-radius(4px);					
			color: #fff;

			padding-top: 4px;
			font-size: 14px;
			border: 1px solid darken($bluegreen, 2%);
			border-bottom: 1px solid darken($bluegreen, 10%);
			@include linear-gradient(lighten($bluegreen,6%), darken($bluegreen,6%));
			/*@include single-box-shadow(rgba(#000, 0.25), 0px, 1px, 1px, 0);*/
			&:hover {
				background: darken($bluegreen, 6%);
			}
		}
	}
}
