.achievable .tooltip {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	color: #fff;
	.person {
		font-size: 13px;
		font-weight: bold;
		width: 90%;
		margin: 5px 0 0 5%;
		text-align: center;
	}
	.description {
		&.container {
			width: 90%;
			margin: 10px 0 0 5%;
			font-size: 12px;
		}
	}
}

.achievable:hover .tooltip {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 120px;
	height: 100px;
	z-index: 1000;
	background: rgba(#000, 0.6);
	@include border-radius(15px);
}