.user {
	.picture {
		
		&.container {
			overflow: hidden;

			float: left;
			@include border-radius(3px);
		}
		
		&.wrapper {
			overflow: hidden;
			position: static;
			height: 100%;
			width: 100%;
			@include border-radius(3px);
			img {
				width: 100%;
			}
		}
	}
	
	.name {
		
		&.container {
			color: $black;
			font-weight: bold;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	
	.rank {

	}
}

.user.issue {
	min-height: 25px;
	overflow: hidden;
	border: none;
	position: relative;
	.picture {
		
		&.container {
			position: absolute;
			top: 2px;
			right: 35px;
			width: 24px;
			height: 24px;
			margin-left: 2px;
			@include border-radius(3px);
		}
		
		&.wrapper {
			@include border-radius(3px);
		}
	}
	
	.name {
		
		&.container {
			position: absolute;
			left: 0;
			height: 14px;
			font-size: 11px;	
			padding-top: 1px;
			width: 109px;
			text-align: right;
		}
	}
	
	.rank {
		position: absolute;
		top: 16px;
		right: 64px;
		color: $bluegreen;
		float: right;
		height: 11px;
		font-size: 7px;
	}
	
	.wins {
		
		&.container {
			position: absolute;
			top: 3px;
			right: 13px;
			float: left;
			font-weight: bold;
			.colon {
				float: left;
				font-size: 9px;
				margin-top: 5px;
				color: rgb(152,152,152);
			}
			
			.number {
				float: left;
				margin: 2px 0 0 4px;
				font-size: 16px;
				color: $bluegreen;

			}
		}
	}
}

.user.versus {
	width: 170px;
	height: 50px;
	position: relative;
	overflow: hidden;
	.picture {
		
		&.container {
			position: absolute;
			width: 40px;
			height: 40px;
			margin-left: 2px;
			/*@include border-radius(7px);*/
		}
		
		&.wrapper {
			/*@include border-radius(7px);*/
		}
	}
	
	.name {
		
		&.container {
			position: absolute;
			top: 7px;
			height: 15px;
			font-size: 12px;
			padding-top: 1px;
			color: $black;
		}
	}
	.score {  
		font-size: 17px;
		font-weight: bold;
		letter-spacing: 1px;
		color: $bluegreen;
		width: 40px;
	}
	
	.rank {
		position: absolute;
		top: 22px;
		color: $bluegreen;
		height: 11px;
		font-size: 11px;
		@include text-shadow(1px 1px 0 rgba(#000, 0.15));	
	}
}

.user.result {
	.picture {
		
		&.container {
			width: 25px;
			height: 25px;
			margin-left: 2px;
			/*@include border-radius(5px);*/
		}
		
		&.wrapper {
			/*@include border-radius(5px);*/
		}
	}
	
	.answer {
		
		&.container {
			
		}
	}
	
	.score {
		
		&.container {
			
		}
	}
}

.user.result.left {
	position: absolute;
	top: 10px;
	right: 37px;
	.picture {
		
		&.container {
			
		}
		
		&.wrapper {
			
		}
	}
	
	.answer {
		display: none;
		&.container {
			
		}
	}
	
	.score {
		
		&.container {
			position: absolute;
			top: 27px;
			left: 2px;
			width: 25px;
			overflow: hidden;
			text-align: center;
			color: $bluegreen;
			font-weight: bold;
			font-size: 15px;
		}
	}
}

.user.result.right {
	position: absolute;
	top: 10px;
	right: 5px;
	.picture {
		
		&.container {
			
		}
		
		&.wrapper {
			
		}
	}
	
	.answer {
		display: none;
		&.container {
			
		}
	}
	
	.score {
		
		&.container {
			position: absolute;
			top: 27px;
			left: 2px;
			width: 25px;
			overflow: hidden;
			text-align: center;
			color: $bluegreen;
			font-weight: bold;
			font-size: 15px;
		}
	}
}

.user.profile {
	height: 183px;
	position: relative;
	margin-right: -1px;
	width: 100%;
	border-bottom: 1px solid rgb(240,240,240);
	.picture {
		
		&.container {
			position: absolute;
			top: 12px;
			left: 12px;
			width: 150px;
			height: 150px;
			@include border-radius(5px);
			@include single-box-shadow(rgba(#000, 0.3), 1px, 1px, 1px, 0);
		}		
		&.wrapper {
			@include border-radius(5px);
		}
	}
	
	.name {
		&.container {		
			position: absolute;
			top: 10px;
			left: 188px;
			font-size: 26px;
			color: $black;
		}
	}
	.profile_icon_container {
		position: absolute;
		left: -10px;
		top: -1px;
		@include linear-gradient(lighten($bluegreen, 5%), darken($bluegreen, 1%));
		@include border-radius(20px);
		height: 34px;
		width: 34px;
		img {
			position: absolute;
			width: 68%;
			top: 6px;
			left: 5px;
		}
		.character {
			position: absolute;
			color: $black;
			&.hand {
				top: 2px;
				left: 9px;
				font-size: 26px;
			}
			&.checkmark {
				top: 5px;
				left: 8px;
				font-size: 22px;
			}
			&.x-mark {
				top: 4px;
				left: 10px;
				font-size: 22px;
			}
		}
	}
	
	.rank {
		position: absolute;
		border: 1px solid rgb(235,235,235);
		border-left: none;
		height: 32px;
		padding-left: 25px;
		width: 130px;
		background-image: url(misc/253.png); background-repeat: repeat;
		@include border-radius(3px);
		&.global_rank {
			top: 56px;
			left: 197px;
		}
		&.facts_learned {
			top: 98px;
			left: 197px;
		}
		&.games_won {
			top: 56px;
			left: 387px;
		}
		&.games_lost {
			top: 98px;
			left: 387px;
		}
		.number {
			margin: 5px 5px 0 6px;
			font-size: 20px;
			float: left;
			text-align: left;
			color: $bluegreen;
			font-weight: bold;
		}
		.label {
			float: left;
			margin: 9px 5px 0 2px;
			text-align: center;	
			font-size: 10px;
			color: rgba($black, 0.99);
		}
	}
}

.main_friends_container {
	overflow-x: hidden;
	height: 600px;
}

#active_fusers {
	.user {
		height: 35px;
		overflow: hidden;
		width: 80%;
		margin-left: 10%;
		position: relative;
		&.dark {
			background: rgba(#000, 0.03);
			@include border-radius(3px);
		}
		.picture {

			&.container {
				width: 30px;
				height: 30px;
				margin: 2px 0 0 2px;
				/*@include border-radius(4px);*/
			}

			&.wrapper {
				/*@include border-radius(4px);*/
			}
		}

		.name {

			&.container {
				position: absolute;
				top: 4px;
				left: 38px;
				height: 15px;
				font-size: 12px;
				@include text-shadow(0px 1px 0 rgba(#000, 0.15));	
				padding-top: 1px;
			}
		}

		.rank {
			position: absolute;
			top: 19px;
			left: 38px;
			color: $bluegreen;
			float: left;
			height: 11px;
			font-size: 9px;
		}

		.friend_challenge_button {
			position: absolute;
			color: #fff;
			top: 6px;
			right: 6px;
			cursor: pointer;
			font-weight: bold;
			text-align: center;
			@include border-radius(3px);
			font-size: 12px;
			height: 18px;
			padding-top: 3px;
			width: 18%;
			border: 1px solid darken($bluegreen, 2%);
			border-bottom: 1px solid darken($bluegreen, 10%);
			@include linear-gradient(lighten($bluegreen,6%), darken($bluegreen,6%));
			/*@include single-box-shadow(rgba(#000, 0.25), 0px, 1px, 1px, 0);*/
			&:hover {
				background: darken($bluegreen, 6%);
			}
		}
	}
}

.user.friend {
	height: 35px;
	overflow: hidden;
	width: 80%;
	margin-left: 10%;
	position: relative;
	&.dark {
		background: rgba(#000,0.03);
		@include border-radius(3px);
	}
	.picture {
		
		&.container {
			width: 30px;
			height: 30px;
			margin: 2px 0 0 2px;
			/*@include border-radius(4px);*/
		}
		
		&.wrapper {
			/*@include border-radius(4px);*/
		}
	}
	
	.name {
		
		&.container {
			position: absolute;
			top: 4px;
			left: 38px;
			height: 15px;
			font-size: 12px;
			@include text-shadow(0px 1px 0 rgba(#000, 0.15));	
			padding-top: 1px;
		}
	}
	
	.rank {
		position: absolute;
		top: 19px;
		left: 38px;
		color: $bluegreen;
		float: left;
		height: 11px;
		font-size: 9px;
	}
	
	.friend_challenge_button {
		position: absolute;
		color: #fff;
		top: 6px;
		right: 6px;
		cursor: pointer;
		font-weight: bold;
		text-align: center;
		@include border-radius(3px);
		font-size: 12px;
		height: 18px;
		padding-top: 3px;
		width: 18%;
		border: 1px solid darken($bluegreen, 2%);
		border-bottom: 1px solid darken($bluegreen, 10%);
		@include linear-gradient(lighten($bluegreen,6%), darken($bluegreen,6%));
		/*@include single-box-shadow(rgba(#000, 0.25), 0px, 1px, 1px, 0);*/
		&:hover {
			background: darken($bluegreen, 6%);
		}
	}
}

.user.sidebar {
	position: relative;
	.picture {		
		&.container {
			position: absolute;
			top: 3px;
			right: 5px;
			width: 26px;
			height: 26px;
			@include border-radius(3px);
		}
		
		&.wrapper {
			@include border-radius(3px);
		}
	}
	
	.name {		
		&.container {
			color: #fff;
			position: absolute;
			top: 0px;
			padding-top: 10px;
			right: 41px;
			font-size: 12px;
			height: 35px;
			width:65px;
			text-align: right;
			overflow: hidden;
		}
	}
	
	.rank {
		display: none;
		position: absolute;
		top: 18px;
		right: 40px;
		color: $bluegreen;
		height: 11px;
		width: 50px;
		font-size: 10px;
		@include text-shadow(1px 1px 0 rgba(#000, 0.15));
	}
	
	.button {
		position: absolute;
		top: 12px;
		right: 12px;
		cursor: pointer;
		@include border-radius(13px);
		@include linear-gradient(lighten($orange,27%), darken($orange,1%));
		@include fonts;
		float: left;
		height: 15px;
		padding-top: 3px;
		width: 77px;

		color: rgba(#000, 0.7);
		font-size: 10px;
		border: none;
		text-align: center;

		@include single-box-shadow(rgba(#000, 0.25), 1px, 1px, 1px, 0);
		@include text-shadow(0px 1px 0 rgba(#000,0.2));	
		font-weight: bold;
		&:hover {
			@include linear-gradient(lighten($orange,1%), lighten($orange,18%));
		}
		.profile {

		}
		.back {
			display: none;
		}
	}
}

.choose_opponent_label {
	float: left;
	font-weight:bold;
	font-size: 13px;
	margin: 12px 0 5px 11px;
	text-align: left;
	color: rgba(#000,0.55);
	width: 150px;
	@include text-shadow(0px 1px 0 rgba(#000,0.15));	
}

.friend_search_bar_container {
	text-align: center;
	width: 300px;
	margin: 12px 6px 2px 0;
	float: right;
	input {
		@include border-radius(3px);
		color: $black;
		@include fonts;
		font-size: 12px;
		height: 24px;
		width: 200px;
		text-align: center;
		border: 1px solid rgb(212,212,212);
		box-shadow: 0px 1px 1px rgb(240,240,240) inset;
		&:focus {
			border: 1px solid rgba($bluegreen, 0.9);
			box-shadow: 1px 1px 1px rgba($bluegreen, 0.9) inset;
			outline-width: 0;
		}
	}
}
.profile_right_container {
	position: absolute;
	top: 197px;
	right: 10px;
	width: 367px;
	height: 515px;
	border-left: 1px solid rgb(233,233,233);
	background-image: url(misc/253.png); background-repeat: repeat;
	.profile_feed {
		position: absolute;
		height: 280px;
		width: 360px;
		top: 35px;
		right: 0px;
		padding-bottom: 5px;
		overflow: hidden;
		.actual_name {
			&.user {
				display: none;
			}
		}
		.picture {
			&.signin {
				display: none;
			}
			&.achievement {
				display: none;
			}
		}
	}
}

.history_text_header {
	position: absolute;
	right: 0px;
	width: 100%;
	text-align: center;
	font-weight: bold;
	color: $black;
	font-size: 13px;
	&.activity {
		top: 10px;
	}
	&.history_header {
		top: 355px;
	}
}