.user {
	.picture {
		
		&.container {
			overflow: hidden;
			@include single-box-shadow(rgba(#000, 0.35), 1px, 1px, 1px, 0);
			float: left;
		}
		
		&.wrapper {
			overflow: hidden;
			position: static;
			height: 100%;
			width: 100%;
			img {
				height: 100%;
				width: 100%;
			}
		}
	}
	
	.name {
		
		&.container {
			font-weight: bold;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			@include text-shadow(0px 1px 0 rgba(#000, 0.15));	
		}
	}
	
	.rank {

	}
}

.user.issue {
	height: 25px;
	overflow: hidden;
	border: none;
	position: relative;
	.picture {
		
		&.container {
			position: absolute;
			top: 2px;
			right: 35px;
			width: 21px;
			height: 21px;
			margin-left: 2px;
			@include border-radius(3px);
		}
		
		&.wrapper {
			@include border-radius(3px);
		}
	}
	
	.name {
		
		&.container {
			position: absolute;
			left: 0;
			height: 11px;
			font-size: 10px;
			color: rgb(92,92,92);			
			padding-top: 1px;
			width: 100px;
			text-align: right;
		}
	}
	
	.rank {
		position: absolute;
		top: 16px;
		right: 60px;
		color: $bluegreen;
		float: right;
		height: 11px;
		font-size: 7px;
	}
	
	.wins {
		
		&.container {
			position: absolute;
			top: 2px;
			right: 13px;
			float: left;
			font-weight: bold;
			.colon {
				float: left;
				font-size: 9px;
				margin-top: 5px;
				color: rgb(152,152,152);
			}
			
			.number {
				float: left;
				margin-left: 4px;
				font-size: 18px;
				color: darken($orange, 5%);

			}
		}
	}
}

.user.versus {
	width: 170px;
	height: 50px;
	position: relative;
	overflow: hidden;
	.picture {
		
		&.container {
			position: absolute;
			width: 40px;
			height: 40px;
			margin-left: 2px;
			@include border-radius(7px);
		}
		
		&.wrapper {
			@include border-radius(7px);
		}
	}
	
	.name {
		
		&.container {
			position: absolute;
			top: 7px;
			height: 12px;
			font-size: 12px;
			color: rgb(92,92,92);
			@include text-shadow(0px 1px 0 rgba(#000, 0.2));	
			padding-top: 1px;
		}
	}
	
	.rank {
		position: absolute;
		top: 22px;
		color: $bluegreen;
		height: 11px;
		font-size: 11px;
		@include text-shadow(1px 1px 0 rgba(#000, 0.15));	
	}
}

.user.result {
	.picture {
		
		&.container {
			width: 21px;
			height: 21px;
			margin-left: 2px;
			@include border-radius(3px);
		}
		
		&.wrapper {
			@include border-radius(3px);
		}
	}
	
	.answer {
		
		&.container {
			
		}
	}
	
	.score {
		
		&.container {
			
		}
	}
}

.user.result.left {
	.picture {
		
		&.container {
			
		}
		
		&.wrapper {
			
		}
	}
	
	.answer {
		&.container {
			
		}
	}
	
	.score {
		
		&.container {
			
		}
	}
}

.user.result.right {
	.picture {
		
		&.container {
			
		}
		
		&.wrapper {
			
		}
	}
	
	.answer {
		
		&.container {
			
		}
	}
	
	.score {
		
		&.container {
			
		}
	}
}

.user.profile {
	.picture {
		
		&.container {
			
		}
		
		&.wrapper {
			
		}
	}
	
	.name {
		
		&.container {
			
		}
	}
	
	.rank {
		
	}
	
	.stats {
		
		.played {
			
			&.container {
				
			}
		}
		
		.won {
			
			&.container {
				
			}
		}
		
		.lost {
			
			&.container {
				
			}
		}
		
		.rank {
			
			&.container {
				
			}
		}
	}
}

.user.friend {
	height: 50px;
	overflow: hidden;
	width: 90%;
	margin-left: 5%;
	position: relative;
	border: 1px solid;
	.picture {
		
		&.container {
			width: 30px;
			height: 30px;
			margin-left: 2px;
			@include border-radius(4px);
		}
		
		&.wrapper {
			@include border-radius(4px);
		}
	}
	
	.name {
		
		&.container {
			position: absolute;
			top: 2px;
			left: 38px;
			height: 12px;
			font-size: 12px;
			color: rgb(92,92,92);
			@include text-shadow(0px 1px 0 rgba(#000, 0.15));	
			padding-top: 1px;
		}
	}
	
	.rank {
		position: absolute;
		top: 17px;
		left: 38px;
		color: $bluegreen;
		float: left;
		height: 11px;
		font-size: 9px;
	}
}