<div class = "picture container">
	<div class = "picture wrapper">
		<% if (user.get('uid')) { %>
			<img src = 'https://graph.facebook.com/<%= user.get('uid') %>/picture'/>
		<% } else { %>
			<img src = 'http://s3.amazonaws.com/fusegap/misc/user.png'/>
		<% } %>
	</div>
</div>
<div class = "name container">
	<div class = "name">
		<span>
			<% if (user.get('name').split(' ').length > 1) { %>
			    <%= user.get('name').split(' ')[0] + " " + user.get('name').split(' ')[user.get('name').split(' ').length - 1].charAt(0) %>.
			<% } else { %>
			    <%= user.get('name').split(' ')[0] %>
			<% } %>
		</span>
	</div>
</div>

<div class = "answer"><%= answer %></div>