<div class = "main_tutorial_container">
	<div class = "tutorial_container challenge_profile">
		<div class = "text">Check Out Your Profile</div>
		<div class = "arrow">
			<img src ='http://s3.amazonaws.com/fusegap/misc/upright.png' height="100%"/>
		</div>
	</div>
	<div class = "tutorial_container challenge_get_started">
		<div class = "text"><span>Get Started:</span></br> These are the challenges your fuseGap friends have sent you
		</div>
		<div class = "arrow">
			<img src ='http://s3.amazonaws.com/fusegap/misc/upright.png' height="100%"/>
		</div>
	</div>
	<div class = "tutorial_container challenge_new_game">
		<div class = "text">Click here to send challenges to other fusers</div>
		<div class = "arrow">
			<img src ='http://s3.amazonaws.com/fusegap/misc/downright.png' height="100%"/>
		</div>
	</div>
	<div class = "tutorial_container exit upper">
		<div class = "text">... Click anywhere to continue ...</div>
	</div>
	<div class = "tutorial_container exit lower">
		<div class = "text">... Click anywhere to continue ...</div>
	</div>
</div>