<div class = "main_tutorial_container">
	<div class = "tutorial_container issue_general">
		<div class = "text"><span>Challenge Your Opponent:</span>
				</br>Select an issue
		</div>
		<div class = "arrow">
			<img src ='http://s3.amazonaws.com/fusegap/misc/upright.png' height="100%"/>
		</div>
	</div>
	
	<div class = "tutorial_container issue_shuffle">
		<div class = "text">Click to select from more issues</div>
		<div class = "arrow">
			<img src ='http://s3.amazonaws.com/fusegap/misc/downright.png' height="100%"/>
		</div>		
	</div>
	
	<div class = "tutorial_container exit upper">
		<div class = "text">... Click anywhere to continue ...</div>
	</div>
	<div class = "tutorial_container exit lower">
		<div class = "text">... Click anywhere to continue ...</div>
	</div>
</div>