<div class = "main_tutorial_container">
	<div class = "tutorial_container question_recent_guesses">
		<div class = "text">Recently submitted guesses (for this question)</div>
		<div class = "arrow">
			<img src ='assets/misc/upleft.png' height="100%"/>
		</div>
	</div>
	<div class = "tutorial_container slider_general">
		<div class = "text"><span>Make your best guess</span> (get closer than your opponent) 
			</br></br>Their answer will show up here as well
			</div>
	</div>
	<div class = "tutorial_container multiple_choice_general">
		<div class = "text"><span>Multiple Choice:</span> Select an answer, be quick, and be right! 
			</br></br>Opponent's answer will be marked after they answer
			</div>
	</div>
	
	<div class = "tutorial_container multiple_choice_go">
		<div class = "text">Timer starts after you click "Go"</div>
		<div class = "arrow">
			<img src ='assets/misc/upright.png' height="100%"/>
		</div>		
	</div>
	
	<div class = "tutorial_container question_active_fusers">
		<div class = "text">Active Fusers for this issue</div>
		<div class = "arrow">
			<img src ='assets/misc/downleft.png' height="100%"/>
		</div>		
	</div>
	
	<div class = "tutorial_container exit upper">
		<div class = "text">... Click anywhere to continue ...</div>
	</div>
</div>