<div class = "main_tutorial_container">
	<div class = "tutorial_container result_general">
		<div class = "text"><span>Summary Screen: </span>
			</br>How'd you do?
		</div>
	</div>
	
	<div class = "tutorial_container results_individual_answer">
		<div class = "text">Points earned for each question</div>
		<div class = "arrow">
			<img src ='assets/misc/downright.png' height="100%"/>
		</div>		
	</div>
	
	<div class = "tutorial_container results_total_points">
		<div class = "text">Total points earned</div>
		<div class = "arrow">
			<img src ='assets/misc/upright.png' height="100%"/>
		</div>		
	</div>

	<div class = "tutorial_container exit lower">
		<div class = "text">... Click anywhere to continue ...</div>
	</div>
</div>