<div class = "main_tutorial_container">
	<div class = "tutorial_container question_recent_guesses">
		<div class = "text">Recently submitted guesses (for this question)</div>
		<div class = "arrow">
			<img src ='http://s3.amazonaws.com/fusegap/misc/upleft.png' height="100%"/>
		</div>
	</div>
	<div class = "tutorial_container slider_general upper">
		<div class = "text"><span>Make your best guess:</span></br>Get closer than your opponent
		</div>
		<div class = "arrow">
			<img src ='http://s3.amazonaws.com/fusegap/misc/downleft.png' height="100%"/>
		</div>
	</div>
	<div class = "tutorial_container slider_general lower">
		<div class = "text">
			Your opponent's answer is also shown here
		</div>
		<div class = "arrow">
			<img src ='http://s3.amazonaws.com/fusegap/misc/upleft.png' height="100%"/>
		</div>
	</div>
	
	<div class = "tutorial_container question_active_fusers">
		<div class = "text">Active Fusers for this issue</div>
		<div class = "arrow">
			<img src ='http://s3.amazonaws.com/fusegap/misc/downleft.png' height="100%"/>
		</div>		
	</div>
	
	<div class = "tutorial_container exit upper">
		<div class = "text">... Click anywhere to continue ...</div>
	</div>
</div>