<div class = "main_tutorial_container">
	<div class = "tutorial_container challenge_get_started">
		<div class = "text"></div>
		<div class = "arrow">
			<img src ='http://s3.amazonaws.com/fusegap/misc/downright.png' height="100%"/>
		</div>
	</div>
	<div class = "tutorial_container exit upper">
		<div class = "text">... Click anywhere to continue ...</div>
	</div>
	<div class = "tutorial_container exit lower">
		<div class = "text">... Click anywhere to continue ...</div>
	</div>
</div>