<div id = 'user_left'></div>
<div id = 'goto_source' class = "question_result_text"><%= question.get('title') %></div>
<div class = "question_result_answer_container">
	<span class = "question_result_answer">Correct:</span> <%= correct %>
</div>
<div id = 'user_right'></div>