<div id = 'issue' class = 'container issue'></div>
<div id = 'learn' class = 'button learn'>
	<div class = 'learn'>Info</div>
</div>
<div id = 'challenger' class = 'container challenger'></div>
<div id = 'user' class = 'container user'></div>
<div id = 'play' class = 'button play'>
	<div class = 'play'>Play</div>
</div>