<div id = 'top_header' class = "challenges_subheader top_portion"></div>
<div id = 'top'></div>
<div id = 'middle_header' class = "challenges_subheader recent_activity"></div>
<div id = 'middle'></div>
<div id = 'bottom_header' class = "challenges_subheader community">Community</div>
<div id = 'bottom'></div>