<div class = "challenges_subheader top_portion">Top Ranked Fusers</div>
<div id = 'top'></div>
<div class = "challenges_subheader recent_activity">Recent Activity</div>
<div id = 'middle'></div>
<div class = "challenges_subheader community">Community</div>
<div id = 'bottom'></div>