
<div class = "home_challenges_container">
	<div class = "challenges_subheader">Games - Your Turn!</div>
	<div id = 'recieved'></div>
	<div class = "new_game_button_container">
		<button id = 'new_game'>New Game</button>
	</div>
	<div class = "challenges_subheader their_turn">Their Turn!</div>
	<div id = 'sent'></div>
</div>