<div class = "container_header">Games</div>
<div>Your Turn</div>
<button id = 'new_game'>New Game</button>
<div id = 'recieved'></div>
<div>Their Turn</div>
<div id = 'sent'></div>
<button id = 'new_game'>New Game</button>