<div class = "container_header">Chat</div>
<div class = "chat logo">
	<div class = "image_wrapper">
		<img src = 'assets/logos/black.png' width = "100%" height="100%" />
	</div>
</div>
<div class = "chat chat_text">
	Chat...Coming Soon!
</div>