<div class = "container_header">fuseGap</div>
<div id = 'user'></div>
<div class = "popular_issues_header">
	<div class = "most_popular_issues_text">Most Popular Issues</div>
	<div class = "your_rank_text">Your Rank</div>	
</div>
<div id = 'issues' class = "topleft_issues"></div>
<div id = 'chat'></div>