<div id = 'about' class = 'about button'>
	<div class = 'about text'>About</div>
</div>
<div id = 'home' class = "header_logo_container">
	fuse <span>ap</span>
	<div class = "image_container">
		<div class = "blue_logo"><img src = 'assets/logos/bluelogo.png' width = "100%" /></div>
		<div class = "white_logo"><img src = 'assets/logos/white.png' width = "100%" /></div>
	</div>
</div>
<div class = 'signin panel hide'>
	<div class = "facebook_login_button_container">
		<div id = 'fb_login_header'>
			<div class = "facebook_f">f</div>
			<div class = "connect_with_facebook">
				Connect with Facebook
			</div>
		</div>	
	</div>
	<div class = "or_container">
		<div class = "text">or</div>
	</div>
	<div>
		<form id = 'signin_form'>
			<input type = 'text' id = 'Email' value = 'Email' /></br>
			<input type = 'text' id = 'Password' value = 'Password' /></br>
			<input type = 'submit' value = 'Submit' class = "signin_button"/>
		</form>
	</div>
</div>
<div class = "centered_header_container">
	<div id = 'profile' class = "profile_header"></div>
</div>