<div id = 'about' style = 'color: #fff'>About</div>
<div id = 'home' class = "header_logo_container">
	<img src = 'assets/logos/bluelogo.png' width = "100%" />
</div>
<div class = "centered_header_container">
	<div id = 'profile' class = "profile_header"></div>
</div>