<div class = "header_logo_container">
	<img src = 'assets/logos/bluelogo.png' width = "100%" />
</div>
<div id = 'profile' style = 'position: absolute; top: 0; right: 0; width: 250px; height: 40px'></div>
>>>>>>> origin/master
