<div id = 'home' class = 'home'>
	<div class = 'about text'>Home</div>
</div>
<div id = 'issues' class = 'header_issues'>
	<div class = 'about text'>Issues</div>
</div>
<div id = 'mfc' class = 'mfc'>
	<div class = 'about text'>MFC</div>
</div>
<div id = 'about' class = 'about button'>
	<div class = 'about text'>About</div>
</div>

<div id = 'home' class = "header_logo_container">
	<div class = "image_container">
		<div class = "blue_logo"><img src = 'http://s3.amazonaws.com/fusegap/logos/headerlogo.png' width = "100%" /></div>
		<div class = "white_logo"><img src = 'http://s3.amazonaws.com/fusegap/logos/headerlogo_hover.png' width = "100%" /></div>
	</div>
</div>
<div class = 'signin panel hide'>
	<div class = "facebook_login_button_container">
		<div id = 'fb_login_header'>
			<div class = "facebook_f">f</div>
			<div class = "connect_with_facebook">
				Connect with Facebook
			</div>
		</div>	
	</div>
	<div class = "or_container">
		<div class = "text">or</div>
	</div>
	<div>
		<form id = 'signin_form'>
			<input type = 'text' id = 'Email' value = 'Email' /></br>
			<input type = 'text' id = 'Password' value = 'Password' /></br>
			<input type = 'submit' value = 'Submit' class = "signin_button"/>
		</form>
	</div>
	<div class = "new_user">New User?
		<div class = "get_started_button_signin" id="mfc">
			<div class = "left">
				<div class = "logo"><img src = 'http://s3.amazonaws.com/fusegap/logos/white_25.png' width = "100%" /></div>
			</div>
			<div id = 'get_started' class = "right">Get Started</div>
		</div>
	</div>
</div>
<div class = "centered_header_container">
	<div id = 'profile' class = "profile_header"></div>
</div>
<% if (user) { %>
	<div class = "triangle_container">
		<div class = "triangle"></div>
	</div>
	<div id = 'signout' class = 'hide'>Sign Out?</div>
<% } %>
































