<div class = "challenges_subheader video">Welcome to fuseGap!</div>
<div class = "video">
	<embed width="420" height="345" src="http://www.youtube.com/v/xV7FQYUFl10" type="application/x-shockwave-flash" allowfullscreen = "true"></embed>
</div>
<div class = "like-button">
	<div class="fb-like" data-href="http://facebook.com/fusegap" data-send="false" data-layout="standard" data-width="540" data-show-faces="true" data-font="arial"></div>
</div>