<div class = "home_logo_container">
	<img src = 'assets/logos/blue_40.png' width = "100%" />
</div>
<div class = "fusegap_enlightenment_text">

	<div class = "fusegap">fuse <span>ap</span></div>
	<div class = "enlightenment">Spread some knowledge. Facts with friends.</div>
</div>
<div class = "home_slide_div first">
	<div class = "wrapper">
		<img src = 'assets/misc/slide1.png'/>
	</div>
</div>
<div class = "home_slide_div third">
	<div class = "wrapper">
		<img src = 'assets/misc/slide2.png'/>
	</div>
</div>
<div class = "home_slide_div second">
	<div class = "dumb_source home one"><a href="http://www.nytimes.com/2005/08/30/science/30profile.html" target="_blank"></a></div>
	<div class = "dumb_source home two"><a href="http://www.thedailybeast.com/newsweek/2011/03/20/how-dumb-are-we.html" target="_blank"></a></div>
	<div class = "wrapper">
		<img src = 'assets/misc/infographic.png'/>
	</div>
</div>

<div class = "signin_container">
	<div class = "get_started_button">
		<div class = "left">
			<div class = "logo"><img src = 'assets/logos/white_25.png' width = "100%" /></div>
		</div>
		<div id = 'get_started' class = "right">Get Started</div>
	</div>
	<div class = "like-button">
		<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2FfuseGap&amp;send=false&amp;layout=standard&amp;width=340&amp;show_faces=true&amp;font&amp;colorscheme=light&amp;action=like&amp;height=80&amp;appId=336449143129017" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
	</div>
</div>

<!--<div class = "video">
	<embed width="420" height="345" src="http://www.youtube.com/v/xV7FQYUFl10" type="application/x-shockwave-flash" allowfullscreen = "true"></embed>
</div>-->