<div class = "home_logo_container">
	<img src = 'assets/logos/bluelogo.png' width = "100%" />
</div>
<div class = "fusegap_enlightenment_text">

	<div class = "fusegap">fuse <span>ap</span></div>
	<div class = "enlightenment">...because the first Enlightenment wasn't enough.</div>
</div>
<div class = "home_slide_div first">
	<div class = "wrapper">
		<img src = 'assets/misc/slide1.png'/>
	</div>
</div>
<div class = "home_slide_div third">
	<div class = "wrapper">
		<img src = 'assets/misc/slide2.png'/>
	</div>
</div>
<div class = "home_slide_div second">
	<div class = "dumb_source home one"><a href="http://www.nytimes.com/2005/08/30/science/30profile.html" target="_blank"></a></div>
	<div class = "dumb_source home two"><a href="http://www.thedailybeast.com/newsweek/2011/03/20/how-dumb-are-we.html" target="_blank"></a></div>
	<div class = "wrapper">
		<img src = 'assets/misc/infographic.png'/>
	</div>
</div>

<div class = "signin_container">
	<div class = "get_started_button">
		<div class = "left">
			<div class = "logo"><img src = 'assets/logos/white.png' width = "100%" /></div>
		</div>
		<div id = 'get_started' class = "right">Get Started</div>
	</div>
	<div class = "like-button">
		<div class="fb-like" data-href="http://facebook.com/fusegap" data-send="false" data-layout="standard" data-width="340" data-show-faces="true" data-font="arial"></div>
	</div>
</div>

<!--<div class = "video">
	<embed width="420" height="345" src="http://www.youtube.com/v/xV7FQYUFl10" type="application/x-shockwave-flash" allowfullscreen = "true"></embed>
</div>-->