<div class = "container_header">Welcome to fuseGap!</div>
<div class = "video">
	<embed width="420" height="345" src="http://www.youtube.com/v/xV7FQYUFl10" type="application/x-shockwave-flash" allowfullscreen = "true"></embed>
</div>
<div>FB like button</div>