<div class = "home_logo_container">
	<img src = 'assets/logos/bluelogo.png' width = "100%" />
</div>
<div class = "fusegap_enlightenment_text">

	<div class = "fusegap">fuse <span>ap</span></div>
	<div class = "enlightenment">...because the first Enlightenment wasn't enough.</div>
</div>
<div class = "home_slide_div second">
	<div class = "wrapper">
		<img src = 'assets/misc/slide2_tall.png'/>
	</div>
</div>
<div class = "home_slide_div first">
	<div class = "wrapper">
		<img src = 'assets/misc/slide1.png'/>
	</div>
</div>
<div class = "signin_container">
	<div class = "get_started_button">
		<div class = "left">
			<div class = "logo"><img src = 'assets/logos/white.png' width = "100%" /></div>
		</div>
		<div id = 'get_started' class = "right">Get Started</div>
	</div>
	<div class = "like-button">
		<div class="fb-like" data-href="http://facebook.com/fusegap" data-send="false" data-layout="standard" data-width="320" data-show-faces="true" data-font="arial"></div>
	</div>
</div>


<div class = "infographic">
	<div class = "title_text title">
		1,000,000 <span>Fact</span> Challenge!
	</div>

	<div class = "stat_text top">1 out of 5 adult Americans think that the <span>Sun revolves around the Earth</span></div>

	<div class = "stat_text bottom">2 out of 3 citizens can't <span>name their US Representative</span></div>
	
	<div class = "dumb_source one"><a href="http://www.google.com"></a></div>

	<div class = "infographic_guy_container top">
		<div class = "number">20%</div>
		<div class = "guy_container first">
			<img src = 'assets/misc/bluegreen.png' width = "100%" />
		</div>
		<div class = "guy_container second">
			<img src = 'assets/misc/black.png' width = "100%" />
		</div>
		<div class = "guy_container third">
			<img src = 'assets/misc/black.png' width = "100%" />
		</div>
		<div class = "guy_container fourth">
			<img src = 'assets/misc/black.png' width = "100%" />
		</div>
		<div class = "guy_container fifth">
			<img src = 'assets/misc/black.png' width = "100%" />
		</div>
	</div>

	<div class = "infographic_guy_container bottom">
		<div class = "number">67%</div>
		<div class = "guy_container first">
			<img src = 'assets/misc/bluegreen.png' width = "100%" />
		</div>
		<div class = "guy_container second">
			<img src = 'assets/misc/bluegreen.png' width = "100%" />
		</div>
		<div class = "guy_container third">
			<img src = 'assets/misc/black.png' width = "100%" />
		</div>
	</div>
	<div class = "title_text factual_future">
		Let's move society towards a more <span>factual</span> future
	</div>
</div>

<!--<div class = "video">
	<embed width="420" height="345" src="http://www.youtube.com/v/xV7FQYUFl10" type="application/x-shockwave-flash" allowfullscreen = "true"></embed>
</div>-->


