<div class = "container_header">Your Turn - Choose an Issue!</div>
<div id = 'issues' class = "issue_index_container"></div>
<div id = 'shuffle' class = 'shuffle_issues_button'>
	<div class = "text">Shuffle</div>
	<div class = "sub">&#9850;</div>
</div>