<div class = "challenges_subheader">Your Turn - <span class = "active_fusers">Choose an Issue</span></div>
<div id = 'issues' class = "issue_index_container"></div>
<div id = 'shuffle' class = 'shuffle_issues_button'>
	<div class = "text">Shuffle</div>
	<div class = "sub">&#9850;</div>
</div>

<div id = 'all' class = 'show-all'>
	<div class = "text">Show All Issues</div>
</div>