<div class = "container_header">Choose Opponent!</div>
<div class = "choose_opponent_label">Suggested</div>
<div id = 'active_fusers'></div>
<div class = "choose_opponent_label">Your Friends</div>
<div id = 'facebook'>
	<div id = 'fb_login'>Login FB</div>
</div>