<div class = "main_friends_container">
	<div class = "challenges_subheader">Choose Opponent - <pan class = "active_fusers">Active fusers</span></div>
	<div id = 'active_fusers'></div>
	<div class = "challenges_subheader your_friends">Choose Opponent - <span class = "active_fusers">Your Friends</span></div>
	<div id = 'facebook'>
		<div id = 'fb_login' class= 'fb_login_main friend_select'>
			<div class = "facebook_f">f</div>
			<div class = "connect_with_facebook">
				Connect with Facebook
			</div>
		</div>
	</div>
</div>