<div class = "get_started_text">
	Get Started!
</div>
<div class = "facebook_login_button_container">
	<div id = 'fb_login' class = "fb_login_main signin">
		<div class = "facebook_f">f</div>
		<div class = "connect_with_facebook">
			Connect with Facebook
		</div>
	</div>	
</div>
<div class = "or_container">
	<div class = "text">or</div>
</div>
<div id = 'email_signup' class = "signup_email_button">
	<div class = "left">
		<img src = 'assets/misc/envelope.png' width = "100%" />
	</div>
	<div class = "right">
		Sign Up with Email
	</div>
</div>
<div id = 'signup_form' class = 'hide'>
	<form id = 'signup'>
		<input type = 'text' id = 'User_Name' value = 'User Name' /></br>
		<input type = 'text' id = 'Email' value = 'Email' /></br>
		<input type = 'text' id = 'Password' value = 'Password' /></br>
		<input type = 'text' id = 'Confirm_Password' value = 'Confirm Password' /></br>
		<input type = 'submit' value = 'Submit' class = "signup_button"/>
	</form>
</div>

<div class = "infographic">
	<div class = "title_text title">
		<div class = "text">
			1,000,000 <span>Fact</span> Challenge!
		</div>
		<div class = "filler_border"></div>
	</div>

	<div class = "stat_text top">1 out of 5 adult Americans think that the <span>Sun revolves around the Earth</span></div>

	<div class = "stat_text bottom">Nearly 1 out of 3 citizens can't <span>name the Vice President</span></div>

	<div class = "infographic_guy_container top">
		<div class = "number">20%</div>
		<div class = "guy_container first">
			<img src = 'assets/misc/bluegreen.png' width = "100%" />
		</div>
		<div class = "guy_container second">
			<img src = 'assets/misc/black.png' width = "100%" />
		</div>
		<div class = "guy_container third">
			<img src = 'assets/misc/black.png' width = "100%" />
		</div>
		<div class = "guy_container fourth">
			<img src = 'assets/misc/black.png' width = "100%" />
		</div>
		<div class = "guy_container fifth">
			<img src = 'assets/misc/black.png' width = "100%" />
		</div>
	</div>

	<div class = "infographic_guy_container bottom">
		<div class = "number">29%</div>
		<div class = "guy_container first">
			<img src = 'assets/misc/bluegreen.png' width = "100%" />
		</div>
		<div class = "guy_container second">
			<img src = 'assets/misc/black.png' width = "100%" />
		</div>
		<div class = "guy_container third">
			<img src = 'assets/misc/black.png' width = "100%" />
		</div>
	</div>
	<div class = "title_text factual_future">
		<div class = "text">
			Let's move society towards a more <span>factual</span> future
		</div>
		<div class = "filler_border"></div>
	</div>
</div>