<div class = "issue_profile_container">
	<div class = "top_container">
		<div class = 'thumbnail container'>
			<div class = 'thumbnail wrapper'>
				<img src = 'assets/issues/climate.png' />
			</div>
		</div>
		<div class = "title container">
			Federal Employee Compensation
		</div>
		<div class = 'stats total_facts'>
			<div class = "profile_icon_container">
				<div class = "character pencil">&#9999;</div>	
			</div>
			<span class = "number">247</span><span class="label">TOTAL FACTS</span>
		</div>

		<div class = 'stats active_fusers'>
			<div class = "profile_icon_container">
				<img src = 'assets/logos/black_40.png'/>
			</div>
			<span class = "number">27</span><span class = 'label'>ACTIVE FUSERS</span> 
		</div>
		<div class = 'stats facts_learned'>
			<div class = "profile_icon_container">
				<div class = "character hand">&#9996;</div>
			</div>
			<span class = "number">174</span><span class = 'label'>FACTS LEARNED</span> 
		</div>
		<div class = 'stats facts_shared'>
			<div class = "profile_icon_container">
				<div class = "character shuffle">&#9850;</div>
			</div>
			<span class = "number">2</span><span class = 'label'>FACTS SHARED</span> 
		</div>
	</div>
	<div class = "full_description_container">
		<span>Description:</span> Citizens United v. Federal Election Commission was a landmark United States Supreme Court case in which the Court held that the First Amendment prohibited the government from restricting independent political expenditures by corporations and unions. Should corporations be able to spend any amount of money on campaign finances, or should election expenditures be restricted?
	</div>
	<div class = "goto_challenges_button_container">
		<div class = "text left">
			Spread knowledge.
		</div>
		<div class = "text right">
			Facts with friends.
		</div>
		<div class = "goto_challenges_button">
			<div id = 'goto_challenges'>Challenges</div>
		</div>
	</div>
</div>


<div style = "display: none">
	<div id = 'user'></div>
	<div id = 'achievables'></div>
	<div class = "profile_right_container">
		<div class = "history_text_header activity">Activity</div>
		<div id = 'feed' class = "profile_feed"></div>
		<div class = "history_text_header history_header">Match History</div>
		<div id = 'history'></div>
	</div>
</div>