<div id = 'user'></div>
<div id = 'achievables'></div>
<div class = "profile_right_container">
	<div class = "history_text_header activity">Activity</div>
	<div id = 'feed' class = "profile_feed"></div>
	<div class = "history_text_header history_header">Match History</div>
	<div id = 'history'></div>
</div>
<div id = 'share' class = "profile_share_button">
	<div class = "facebook_f">f</div>
	<div class = "text">Share</div>
</div>