<div id = 'versus'></div>

<div id = 'results' class = 'results_container'>
	<div class = "won_lost_wait_text">
		<span id = 'result_text' class = 'invis'><%= header %></span>
		<div class = "points_header_text">Points</div>
	</div>
</div>

<% if (is_finished) { %>
	<div id = 'finish' class = 'hide send_result_button'>Next</div>
<% } else { %>
	<div id = 'finish' class = 'hide send_result_button'>Send!</div>
<% } %>