<div id = 'results' class = 'results_container'>
	<div class = "won_lost_wait_text">
		You Won!
		<div class = "points_header_text">Points</div>
	</div>
</div>
<% if (is_finished) { %>
	<div id = 'finish' class = 'hide'>Next</div>
<% } else { %>
	<div id = 'finish' class = 'hide'>Send</div>
<% } %>