<div id = 'versus'></div>

<div id = 'results' class = 'results_container'>
	<div class = "won_lost_wait_text">
		<span id = 'result_text' class = 'invis'><%= header %></span>
		<div class = "points_header_text">Points</div>
	</div>
</div>

<div class = 'thingy'>
	<div id = 'share' class = "share_result_button">
		<div class = "facebook_f">f</div>
		<div class = "text">Share</div>
	</div>
	<% if (challenge.get('issue_id') === 20) { %>
		<div class = 'sidecar container'>
			<div class = 'sidecar text'>
				Defend ridesharing: 
				<span id = 'here'>sign the petition</span>
			</div>
		</div>
		<% if (is_finished) { %>
			<div id = 'finish' class = 'hide send_result_button right_center'>Next</div>
		<% } else { %>
			<div id = 'finish' class = 'hide send_result_button right_center'>Send!</div>
		<% } %>
	<% } else { %>
		<% if (is_finished) { %>
			<div id = 'finish' class = 'hide send_result_button right_center'>Next</div>
		<% } else { %>
			<div id = 'finish' class = 'hide send_result_button right_center'>Send!</div>
		<% } %>
	<% } %>
</div>
