<div id = 'login_fb'>FB login</div>
<div>create and account</div>
<form id = 'new_user'>
	<input type = 'text' id = 'user_name' value = 'user name' maxlength = '20' />
	<input type = 'text' id = 'password' value = 'password'  maxlength = '20' />
	<input type = 'text' id = 'confirm_password' value = 'repeat password'  maxlength = '20' />
	<input type = 'submit' value = 'create account' />
</form>

<div>Chat coming soon</div>