<div class = "picture container left">
	<div class = "picture wrapper">
		<% if (person.get('uid')) { %>
			<img src = 'https://graph.facebook.com/<%= person.get('uid') %>/picture'/>
		<% } else { %>
			<img src = 'assets/misc/user.png'/>
		<% } %>
	</div>
</div>
<div class = "name container">
	<div class = "name">
		<span class = "actual_name"><%= person.get('name') %></span> signed up!
	</div>
</div>