@import "compass";
@import "styles/vars";
@import "styles/mixins";
@import "styles/sliders";
@import "styles/achievables";
@import "styles/answers";
@import "styles/challenges";
@import "styles/issues";
@import "styles/layout";
@import "styles/questions";
@import "styles/ranks";
@import "styles/sources";
@import "styles/tasks";
@import "styles/users";
@import "styles/tooltips";

.hide {
	display: none;
}

.invis {
	visibility: hidden;
}

.border {
	border: 1px solid #000;
}