@import "compass";
@import "styles/vars";
@import "styles/mixins";
@import "styles/sliders";
@import "styles/achievables";
@import "styles/answers";
@import "styles/challenges";
@import "styles/issues";
@import "styles/layout";
@import "styles/questions";
@import "styles/ranks";
@import "styles/sources";
@import "styles/tasks";
@import "styles/users";
@import "styles/tooltips";
@import "styles/sidebar";
@import "styles/tutorials";
@import "styles/about";
@import "styles/header";
@import "styles/footer";
@import "styles/homepage";
@import "styles/millionfact";
@import "styles/comments";

.hide {
	display: none;
}

.invis {
	visibility: hidden;
}

.sidecar {
	
	&.container {
		position: relative;
		float: left;
		height: 20px;
		width: 70%;
		margin: 0;
	}
	
	&.text {
		position: absolute;
		top: 20px;
		left: 0;
		
		span {
			cursor: pointer;
			background: #e5e5e5;
			@include border-radius(10px);
			color: $bluegreen;
			padding: 8px;
			
			&:hover {
				text-decoration: underline;
			}
		}
		
		a {
			font-weight: bold;
			text-decoration: none;
			color: $bluegreen;

			&:hover {
				text-decoration: underline;
			}
			&:visited {
				color: mix($bluegreen, #333333, 40%);
				color: $bluegreen;
			}
		}
	}
}

.thingy {
	float: left;
	position: relative;
	width: 90%;
	margin: 0 0 15px 5%;
	height: 50px;
}

.tutorial {
	color: #fff;
	z-index: 1000;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}

.tutorial-background {
	z-index: 999;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;

	background: rgba(#000, 0.4);
}

.feedback-background {
	z-index: 999;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba($bluegreen, 0.7);
}

.title_text {
	position: absolute;
	top: 35px;
	width: 100%;
	text-align: center;
	color: $bluegreen;
	font-size: 18px;
	font-weight: bold;
	.sub {
		position: absolute;
		top: 30px;
		width: 100%;
		color: $black;
		font-size: 14px;
	}	
}
.close {
	position: absolute;
	top: 6px;
	right: 6px;
	color: rgb(180,180,180);
	font-size: 13px;
	cursor: pointer;
	width: 60px;
	&:hover {
		color: rgb(140,140,140);
	}
	.icon {
		font-size: 14px;
		position: absolute;
		right: 0px;
		top: 0px;
		width: 18px;
		text-align: right;
		border-left: 1px solid rgb(230,230,230);
	}
}
.feedback_form {
	position: absolute;
	width: 95%;
	margin-left: 7px;
	bottom: 10px;
	height: 95px;
	textarea {
		width: 100%;
		font-size: 11px;
		height: 55px;
		border: 1px solid rgb(202,202,202);
		@include border-radius(3px);
		box-shadow: 0px 1px 1px rgb(235,235,235) inset;
		color: $black;
		@include fonts;
		&:focus {
			box-shadow: 0px 1px 1px rgb(216,216,216) inset;
			border: 1px solid rgb(170,170,170);
			outline-width: 0;
		}
		#content {
			
		}
	}
	.post_feedback_button {
		position: absolute;
		bottom: 0px;
		left: 152px;
		width: 90px;
		border: 1px solid rgb(208,208,208);
		border-bottom: 1px solid rgb(184,184,184);
		height: 25px;
		font-size: 13px;
		color: $black;
		text-align: center;
		font-weight: bold;
		@include text-shadow(0 1px 0 rgba(#fff,0.9));
		@include linear-gradient(rgb(255,255,255), rgb(230,230,230));
		@include border-radius(5px);
		&:hover {
			cursor: pointer;
			background: rgb(230,230,230);
			border: 1px solid rgb(184,184,184);
		}
	}
}
#thanks {
	position: absolute;
	top: 55px;
	width: 100%;
	text-align: center;
	color: $bluegreen;
	font-size: 22px;
	font-weight: bold;
}

.feedback {
	position: fixed;
	bottom: 80px;
	right: -401px;
	z-index: 900;
	width: 400px;
	height: 215px;
	
	.tab-container {
		position: absolute;
		top: 0;
		left: -36px;
		width: 36px;
		height: 95px;
		background: $bluegreen;
		border: 1px solid darken($bluegreen, 17%);
		border-right: none;
		box-shadow: 0px 1px 1px lighten($bluegreen, 22%) inset;	
		@include border-left-radius(4px);
		@include horizontal-gradient(lighten($bluegreen, 3%), darken($bluegreen,5%));
		@include single-box-shadow(rgba(#000, 0.25), 0px, 1px, 1px, 1px);
	}
	
	.tab {
		position: absolute;
		font-size: 17px;
		bottom: 30px;
		left: -30px;
		color: #fff;		
		@include text-shadow(0px 1px 2px rgba(#000, 0.4));
		writing-mode:tb-rl;
		-webkit-transform:rotate(270deg);
		-moz-transform:rotate(270deg);
		-o-transform: rotate(270deg);
		white-space:nowrap;
		display:block;
		width: 95px;
		height:35px;
		&:hover {
			cursor: pointer;
			@include linear-gradient(lighten($bluegreen, 9%), darken($bluegreen,4%));
		}
		.text {
			position: absolute;
			top: 9px;
			left: 8px;
			span {
				letter-spacing: 1px;
			}
		}
	}
	.tab-IE {
		position: absolute;
		height: 100%;
		width: 100%;
		cursor: pointer;
		img {
			position: absolute;
			width: 25px;
			top: 34px;
			left: 6px;
		}
	}
}

.like-feedback {
	position: fixed;
	bottom: 295px;
	right: -164px;
	z-index: 900;
	width: 200px;
	height: 140px;
	background: #e49f8a;
}

.feedback-container {
	position: relative;
	width: 400px;
	height: 215px;
	background: #fff;
	color: $black;
	@include single-box-shadow(rgba(#000,0.25), 0px, 0px, 10px, 5px);
	@include border-radius(4px);
	border: 1px solid rgb(240,240,240);
	background-image: url(misc/253.png); background-repeat: repeat;
}