.slider {
	&.bar {
		position: relative;
		width: 400px;
		height: 20px;
		border: 1px solid;
	}
	
	&.fill {
		height: 20px;
		background: #ff0;
	}
	
	&.users {
		position: absolute;
		top: 0;
		left: 0;
		border: 1px solid;
		width: 20px;
		height: 20px;
		
		&.user {
			color: #f00;
			background: #f00;
		}
		
		&.challenger {
			color: #00f;
			background: #00f;
		}
		
		.logo {
			
			img {
				
			}
		}
		
		.picture {
			&.container {
				
			}
			
			&.wrapper {
				
			}
		}
	}
	
	&.correct {
		
		.check {
			
		}
		
		.number {
			
		}
	}
}

.bounds {
	
	&.min {

	}

	&.max {

	}
	
	.number {

	}

	.triangle {

	}
}

.buttons {
	
	.button {
		
		&.source {
			
		}
		
		&.next {
			
		}
	}
	
	.rage {
		
	}
}

.input {
	
	form {
		
		input {
			
		}
		
		.units {
			
		}
	}
}

.submit {
	
	form {
		
		input {
			
		}
	}
}