<div class = "MFC_infographic_container">Infographic
</div>

<div class = "MFC_progress_bar">
	<div class = "counter">4,356</div> 
	<div class = "facts_learned">FACTS LEARNED</div>
	<div class = "bar">
		<div id = 'progress' class = 'fill'></div>
	</div>
	<div class = "million">1,000,000</div>
</div>

<div class = "MFC_like_container">
	<div class="fb-like" data-href="http://facebook.com/fusegap" data-send="false" data-layout="standard" data-width="320" data-show-faces="true" data-font="arial"></div>
</div>