<div class = "MFC_infographic_container">
	<div class = "dumb_source mfc one"><a href="http://www.nytimes.com/2005/08/30/science/30profile.html" target="_blank"></a></div>
	<div class = "dumb_source mfc two"><a href="http://www.thedailybeast.com/newsweek/2011/03/20/how-dumb-are-we.html" target="_blank"></a></div>
	<div class = "wrapper">
		<img src = 'http://s3.amazonaws.com/fusegap/misc/infographic.png'/>
	</div>
</div>

<div class = "MFC_progress_bar">
	<div class = "counter"></div> 
	<div class = "facts_learned">FACTS LEARNED</div>
	<div class = "bar">
		<div id = 'progress' class = 'fill'></div>
	</div>
	<div class = "hundredk">100,000</div>
	<div class = "million">1,000,000</div>
</div>

<div class = "MFC_like_container">
	<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2FfuseGap&amp;send=false&amp;layout=standard&amp;width=320&amp;show_faces=true&amp;font&amp;colorscheme=light&amp;action=like&amp;height=80&amp;appId=336449143129017" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:330px; height:80px;" allowTransparency="true"></iframe>
</div>