<div class = 'container'>
	<div class = 'mfc-like-container'>
		<div class = "mfc_container top">
			<div class = "title"><span>Welcome!</span> Like us on Facebook?</div>
			<div class = 'like-button'>
				<div class="fb-like" data-href="http://facebook.com/fusegap" data-send="false" data-layout="standard" data-width="370" data-show-faces="true" data-font="arial"></div>
			</div>
		</div>
		<div class = "mfc_container bottom">		
			<div id = 'continue' class="continue_button">Continue</div>
		</div>
	</div>
</div>