<div class = 'container'>
	<div class = 'mfc-like-container'>
		<div class = "mfc_container top">
			<div class = "title"><span>Welcome!</span> Like us on Facebook?</div>
			<div class = 'like-button'>
				<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2FfuseGap&amp;send=false&amp;layout=standard&amp;width=390&amp;show_faces=true&amp;font&amp;colorscheme=light&amp;action=like&amp;height=80&amp;appId=336449143129017" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
			</div>
		</div>
		<div class = "mfc_container bottom">		
			<div id = 'continue' class="continue_button">Continue</div>
		</div>
	</div>
</div>