<div class = 'container'>
	<div class = "do_you_like_facts">
		<div class = "screen_question">
			Do you like facts?
		</div>
		<div class = "answer yes">Yes, I Do!</div>
		<div class = "answer no">Not really</div>
		<div id = 'result_yes' class = "result_container hide">
			Awesome...so do we!
		</div>
		<div id = 'result_no' class = "result_container hide">
			Please visit the <a href="http://www.foxnews.com" target="_blank">support group</a></br></br>
			
			<span>Try again?</span>
		</div>
	</div>
</div>