<div class = 'container'>
	<div class = "do_you_like_facts">
		<div class = "screen_question">
			Do you like facts?
		</div>
		<div class = "answer yes">Yes</div>
		<div class = "answer no">No</div>
		<div id = 'result_yes' class = "result_container hide">
			Welcome!
		</div>
		<div id = 'result_no' class = "result_container hide">
			Please visit the support group
		</div>
	</div>
</div>