<div class = 'star container'>
	<div class = 'star'>&#9733;</div>
</div>
<div class = 'ring'>
	<input type="text" class= "dial hide" data-width="10"
	   	data-fgColor="#98BCC7"
	   	data-thickness=".20"
		data-readOnly = true
		data-displayInput = false
		data-angleOffset = '0'
	/>
</div>