<div class = 'star container'>
	<div class = 'star'>&#9733;</div>
</div>
<div class = 'ring'>
	<input type="text" class= "dial hide" data-width="11"
	   data-fgColor="#38A0AA"
		data-bgColor="#dfdfdf"
	   data-thickness=".30"
		data-readOnly = true
		data-displayInput = false
		data-angleOffset = '0'
	/>
</div>